[2018-11-16 11:58] DenoBeno opened #1 "Map zoom out"
I believe that our tool will have major issues presenting the data for large areas. In order to avoid bad user experience, we may need to define maximal zoom out (e..g 2x the project area or 100km or???)

The actual maximal zoom out should be the one that's reasonably responsible on a relatively good PC with a relatively good internet connection, but we shouldn't expect too much here. E.g. my lapt

[2018-11-19 14:21] p-a-s-c-a-l commented on #1
@therter Additionally, we have to restrict the size of the study area so that the user is not able to perform an assessment for e.g. a whole country. At the moment I propose a maximum of 100km².

Later, the actual maximum size of the study area has to be defined by @bernhardsk based on estimates / tests related to resource consumption, time to run the impact models in Emikat, time to publish the m

[2018-11-26 13:31] p-a-s-c-a-l opened #2 "Data Package Support"
The Map Component must access the meta-data of the Data Package (Example: [Background Layers](https://github.com/clarity-h2020/data-package/issues/7)) of the current Study stored in the CSIS via the [JSON API](https://github.com/clarity-h2020/docker-drupal/issues/43) and initialize the LayerControl Component with the respective layers. The LayerControl Component must support grouping of layers int

[2018-11-26 15:00] maesbri commented on #2
I am not that sure that it would require extending the data package specification.
Following the above example for the population, to me, those are three population density data resources contained in the data package, with their own properties values.

[2018-11-26 15:04] p-a-s-c-a-l commented on #2
Yes but how to decide if an exposure resource is put into the folder population or buildings if there is no additional categorisation property at the level of the data resource and the Data Package contains several Exposure resources (identified by data_resource/analysis_context/resource_type) that belong to several logical categories?

[2018-11-26 15:21] maesbri commented on #2
Indeed, we need a 'category' property with possible values: population, buildings, etc....

The more I think about all these specific parameters, the more I am convinced that we should have a general resource with common attributes and the specialized resources (for BackgroundLayer, Exposure, Impact, etc.) with their specific properties, like the category for the Exposure and Impact analysis.

I n

[2018-12-05 16:48] p-a-s-c-a-l commented on #2
We'll try to define a REST View to simplify the extraction of the relevant properties from the study and data package entities. See https://github.com/clarity-h2020/csis/issues/22#issuecomment-444460565

[2018-12-10 13:49] patrickkaleta commented on #2
@therter
so for now I created two REST Views:

- the **REST Group View** with the display: **Map Component** (/admin/structure/views/view/rest_group/edit)
-- it returns the links to the second REST view for each resource in the data package used by the study

- the **REST Node View** with the displays: **Map comp. dataset** and **Map comp. analysis. context** (/admin/structure/views/view/rest_node

[2018-12-11 07:55] p-a-s-c-a-l commented on #2
@patrickkaleta @fgeyer16

What's the relation of Rest Views to the  [JSON:API vs. core's REST Module](https://github.com/clarity-h2020/docker-drupal/issues/43)? We should't mix APIs so we have to make a decision for either JSON:API or REST Module!

[2018-12-11 09:15] therter commented on #1
The size of the study area is restricted to a maximum of 100km² and the maximum [zoom out level](https://leafletjs.com/examples/zoom-levels/) is restricted to 11, except for the study area selection.

[2018-12-11 09:15] #1 closed

[2018-12-12 16:19] p-a-s-c-a-l opened #3 "Additional Background Map Layers"
Follow the same top-down approach as described [here](https://github.com/clarity-h2020/csis/issues/46#issue-390262842) and [here](https://github.com/clarity-h2020/table-components/issues/1#issue-390284000). Design a simple  internal state model and implement a dynamic layer control widget for HC / EE / etc. layer groups. Last step is then to implement [Data Package Support](https://github.com/clar

[2018-12-12 17:51] fgeyer16 commented on #2
@p-a-s-c-a-l  @patrickkaleta
JSON API has a Filtering functionality as you can read [here](https://www.drupal.org/docs/8/modules/jsonapi/filtering). And I just read that you can [embed referenced entities](https://www.drupal.org/docs/8/modules/jsonapi/includes) with JSON API. Which would be a possibility to reduce REST calls here: [https://github.com/clarity-h2020/csis/issues/22](https://github.co

[2018-12-13 07:44] p-a-s-c-a-l commented on #2
I'm in favour of the JSON API as I have the impression it will replace the REST API in the long term. While it's true that it's up to the client developer to build some complex query strings (once!), it gives us more flexibility and reduces maintenance effort and complexity at level of the Drupal side (no need to create REST Views for each and every special case).

What I don't like is the is the

[2018-12-13 19:09] therter opened #4 "Modularize the map-component"
Refactoring the map-component to improve the reusability.

[2019-01-22 10:54] therter opened #6 "Country taxonomy will not be shown"
and check the maximum size of the area

[2019-01-22 10:55] therter opened #7 "Display the size of the new created polygon"
and show the maximum allowed size, if the polygon is too big

[2019-01-22 11:03] therter opened #8 "Add read only mode for the study area map"
this should be used by the demo user for example.

[2019-01-22 13:59] p-a-s-c-a-l commented on #6
Warning: Each child in an array or iterator should have a unique "key" prop.

Check the render method of `MapComponent`. See https://fb.me/react-warning-keys for more information.
    in WMSTileLayer (created by MapComponent)
    in MapComponent (created by CharacteriseHazardMap)
    in CharacteriseHazardMap

[2019-01-22 14:00] p-a-s-c-a-l commented on #6
Gemischte (unsichere) Anzeige-Inhalte von "http://5.79.69.33:8080/geoserver/clarity?service=WMS&request=GetMap&layers=it003l3_napoli_ua2012_biuldings&styles=&format=image%2Fjpeg&transparent=true&version=1.1.1&width=256&height=256&srs=EPSG%3A3857&bbox=-20037508.342789244,-20037508.34278071,20037508.342789244,20037508.34278071" werden auf einer sicheren Seite geladen[Weitere Informationen]

[2019-01-22 14:01] p-a-s-c-a-l commented on #6
@negroscuro please add https to your geoserver instance

[2019-01-22 14:09] therter opened #9 "Set the already existent hazard maps to the component"
The layers should be loaded from METEOGRID GeoServer
https://clarity.meteogrid.com/geoserver/web/wicket/bookmarkable/org.geoserver.web.demo.MapPreviewPage?1

[2019-02-04 13:12] p-a-s-c-a-l opened #10 "Layer Control Overflow"
Add a scrollbar to the layer control and / or support collapsible groups to prevent overflow of content:

![grafik](https://user-images.githubusercontent.com/1788226/52210231-acb85100-2886-11e9-9b10-50c6a7499479.png)

[2019-02-04 13:13] p-a-s-c-a-l commented on #9
No description provided. ?!

[2019-02-07 18:43] therter commented on #10
The scrollbar was added and the layer groups can be collapsed/expanded.

![map](https://user-images.githubusercontent.com/1788509/52434750-6a09a980-2b10-11e9-9add-664766b83e5c.png)

[2019-02-07 18:43] #10 closed

[2019-02-07 18:45] therter commented on #7
The size of the currently created rectangle will be shown and the maximal allowed size will be shown, if the rectangle is too big

[2019-02-07 18:45] #7 closed

[2019-02-22 09:27] #6 closed

[2019-02-22 09:28] #9 closed

[2019-02-22 09:28] #4 closed

[2019-02-22 09:31] therter commented on #3
The maps can be categorised and the categories can be expanded/collapsed. See also #10

[2019-02-22 17:07] therter opened #11 "The edit mode of the study area map should be activated by a button"
This should be similar to the other tabs without a react component

[2019-02-26 09:25] therter opened #12 "Zoom to the study area instead of naple"
The map zooms always to naples at the moment

[2019-02-26 09:25] therter opened #13 "Demo user cannot retrieve the study area"
The admin user retrieves the study area by the following url https://csis.myclimateservice.eu/jsonapi/group/study?filter[id][condition][path]=id&filter[id][condition][operator]=%3D&filter[id][condition][value]=1

But the demo user does not retrieve the study area. I think this is a problem with the permission. Perhaps you can help @patrickkaleta  @fgeyer16

[2019-02-26 12:46] patrickkaleta commented on #13
@therter thanks for the hint. Indeed it seems like a permission issue. More specifically, it seems like a permission issue for the used filter, since https://csis.myclimateservice.eu/jsonapi/group/study can be accessed by the demo user.

When changing the [permissions](https://csis.myclimateservice.eu/admin/people/permissions) and allowing for authenticated users to "Administer group settings" the

[2019-03-07 09:32] therter opened #14 "Retrieve all overlay layers from the data package"
All overlay layers for the maps should be retrieved from the data package. If the data package does not contain any layer for a map, default layers should be used

[2019-03-07 09:54] maesbri commented on #14
I think the csis should come already preconfigured with some background layers from OSM, and add on top of it the ones available in the data package.

[2019-03-07 10:01] therter commented on #14
@maesbri yes that is correct. The used API differs between the base layers (background layers), which are preconfigured (and only one can be selected at a time) and the overlay layers, which will be retrieved from the data package.

[2019-03-13 10:36] #12 closed

[2019-03-13 10:36] #14 closed

[2019-03-14 13:49] p-a-s-c-a-l opened #15 "Map loads wrong HC-LE layers"
Maps shows the correct HC-LE layers (4 HW Events) but suddenly reloads the layers (probably from the Data Package) and shows HC-LE **input layers** (they as background  layers, see #3 )

![fubar](https://user-images.githubusercontent.com/1788226/54361751-fce5b880-4667-11e9-9a82-458e9f0442f6.gif)

Correct behaviour:
- Map should't show layers which are replaces later
- Correct HC-LE Layers have to

[2019-03-18 07:38] p-a-s-c-a-l opened #16 "Neutral Start Position"
Before Study Area Polygon is loaded from Data Package, Map is initialised with a 'strange' polygon and position (North Africa). Correct behaviour: no polygon and map positioned on Europe.

![grafik](https://user-images.githubusercontent.com/1788226/54513957-1e40f000-4959-11e9-846d-5d5766bd0425.png)

[2019-03-18 08:56] therter commented on #15
The Map does not show layers which are replaces later and the category "relevant layer" will not be shown. Layers, which are not assigned to a hazard, will not be shown.

[2019-03-20 09:11] therter commented on #11
The property write_permissions (drupalSettings.csisHelpers.entityinfo.write_permissions) is now used to determine, if the current user has write permissions

[2019-03-20 09:11] #11 closed

[2019-03-20 09:12] #8 closed

[2019-03-20 09:12] #15 closed

[2019-03-22 09:33] therter opened #17 "Show a loading component while the layers are loaded from the data package"
It takes some time to load the layers from the data package. So a loading component should be shown in the layer component.

[2019-03-22 10:49] #16 closed

[2019-03-22 10:52] therter commented on #13
As workaround I have added the "Administer group settings" permission to the authenticated users. This allows the demo user to use the maps

[2019-03-27 10:59] patrickkaleta opened #18 "Loading of map layer names takes forever"
Not sure where the map widgets are gettign the names for the available layers from, but this takes forever. Should be optimized (e.g. just one REST call, cached...)

[2019-03-27 14:55] therter commented on #18
The [include](https://www.drupal.org/docs/8/modules/jsonapi/includes) parameter is now used to get the sub objects of the data package resources with one jsonapi call. This improves the performance.

[2019-03-27 14:55] #18 closed

[2019-03-27 15:35] DenoBeno commented on #18
good

On Wed, 27 Mar 2019, 15:55 therter, <notifications@github.com> wrote:

[2019-04-01 10:12] RobAndGo commented on #3
I hope this comment belongs here - it concerns the map layers showing the heat-wave hazards here: https://csis.myclimateservice.eu/study/1/step/2/view/maps
(Sorry, I only now just discovered this portal to view the CSIS ![gaah](https://user-images.githubusercontent.com/45385637/55319749-e025ef00-5475-11e9-8b85-85093de69815.gif) )

It seems as though the layers are lacking information. For example,

[2019-04-04 17:33] therter opened #19 "Sort the map layers alphabetically"

[2019-04-04 17:38] #19 closed

[2019-04-11 09:59] therter opened #20 "Show a loading component during the loading of the layers"
The user should know when a layer is loading. So a loading component should be shown under the zoom control element

![loadingLayer](https://user-images.githubusercontent.com/1788509/55948605-30a90380-5c51-11e9-9ac1-2978cc73543d.png)

[2019-04-16 07:57] DenoBeno opened #21 "Suggestion for improving the map component"
Claudia has suggested to improve the map component by making it more similar to http://swicca.eu/climate-impacts-maps/

The required information *should* be in data package and if this isn't foreseen yet, the data package information should be extended.

![grafik](https://user-images.githubusercontent.com/1788226/56199696-b1934100-603d-11e9-8ea0-6d02b9ffeace.png)

[2019-04-16 08:18] stefanon commented on #21
Most important improvement needed I think is the legenda visualization with scale and units of values shown in the map, and the identify function if possible.

[2019-04-16 08:20] therter opened #22 "Make infos about the current map available for the "Include in Report" functionality."
The map-component should deliver data about the current map (zoom, bounding box, ...), so that the "Include in Report" functionality can use this information to generate a comment about the map.

[2019-04-16 08:20] therter opened #23 "Add a full screen mode for the map"
It should be possible to activate a full screen mode for the map.

Perhaps, this [plugin](https://www.npmjs.com/package/react-leaflet-fullscreen-control) can be used

[2019-04-16 09:51] p-a-s-c-a-l commented on #21
Legend can be obtained via getLegend request, right? Is this configured at METEOGRID GeoServer? Do we need a separate entry in data package meta-data?

[2019-04-16 10:01] therter commented on #21
This is right and the  METEOGRID WMS has the legend configured.

I can get the request via the GetCapabilities document of the wms. All I need is the layer name and the style name and this information is contained within the data package

[2019-04-17 09:23] #20 closed

[2019-05-08 09:54] therter commented on #22
The maps have now a hidden div element with the id reportInfoElement and the following content:

`zoom level:14 bounding box: 14.195451736450197,40.8258257213893,14.287977218627931,40.85829183049755`

The content will be refreshed when the view port of the map was changed.

@patrickkaleta Are there any additional information required,

[2019-05-08 09:56] therter commented on #23
The full screen mode can be activated by the corresponding button at the left upper corner

[2019-05-08 09:56] #23 closed

[2019-05-09 08:04] therter commented on #22
@patrickkaleta Yes, I think the title is useful. I will add it

[2019-05-09 10:48] patrickkaleta commented on #22
The [CSIS helpers module](https://github.com/clarity-h2020/csis-helpers-module) now takes the content of this hidden div element as input for the comment field.

[2019-05-16 11:44] p-a-s-c-a-l commented on #21
Any updates regarding the legend?

[2019-05-16 11:46] p-a-s-c-a-l commented on #13
Is there a solution available, or are you still using the workaround?

[2019-05-16 11:50] therter commented on #21
The legend of the currently selected layer will be shown on the left side of the map

![Auswahl_123](https://user-images.githubusercontent.com/1788509/57851583-38743e80-77e1-11e9-99f9-8d64d7f8136c.png)

[2019-05-16 11:50] therter commented on #13
The workaround is still in use.

[2019-05-16 11:54] p-a-s-c-a-l commented on #21
Yes, I know. Please consider the following comment:

So legends have to be improved. It's not clar whaT's shown on the map. 25-30 WHAT?

[2019-05-27 06:11] p-a-s-c-a-l opened #24 "Restricted Study Area"
Decision: the end-user will not be able to define ~the~ **an arbitrary** the study area. He will select a city area the from a predefined list of cities (from urban atlas) for which we have all the necessary data to perform the screening study.

ATOS will check the list the cities (in urban atlas) for which we have all the layers to perform the local effects calculations, then generate a shapefile

[2019-05-27 06:53] humerh commented on #24
This was not exactly my understanding:
Yes, we sayed, that we will select a citiy area from a predefined list of cities (from urban atlas) for which we have all the necessary data to perform the screening study.
But I cannot remember, that we decided to omit the possibility to select a bounding box for the study area!
For us it would mean, that we get much larger study areas as we discussed till n

[2019-05-28 09:15] p-a-s-c-a-l commented on #24
@humerh is right, Issue description  updated accordingly.

The 1st KISS approach for the implementation is to disallow the panning and zooming beyond the selected city / region bounds.

[2019-05-28 09:25] p-a-s-c-a-l commented on #21
Any progress here?

[2019-05-28 09:48] p-a-s-c-a-l commented on #3
@therter @luis-meteogrid @ghilbrae
Any comments to @RobAndGo's [question](https://github.com/RobAndGo)?

[2019-05-28 14:19] RobAndGo commented on #24
Sorry for my late reply, but I had to remove some errors from the method I was using and then confirm that it would work.
Anyhow, here is just some preliminary results of what I thought I could deliver.

I am in the processing of updating the heat wave hazard events and determining the events:
- "Frequent" (Probability = 1.0; yearly event),
- "Occasional" (Probability = 0.2; 1 in 5 year event),
-

[2019-05-29 07:26] ghilbrae commented on #3
Hi! We've looked into it and it's a problem with the scale. We've tested a new scale with that same layer and this is the result for that same layer:
![scale](https://user-images.githubusercontent.com/1615745/58537596-731fa300-81f3-11e9-83b0-994049462262.png)

The scale we've used is this one:
[code]

Let us know if this is ok for you @RobAndGo so we may use it for the other heat wave layers. We c

[2019-05-29 07:43] negroscuro commented on #24
I have a table very similar fmro some months ago in order to know which cities are already loaded into the system. So the only difference is I have to add the country code. It looks like this:
CREATE TABLE public.city
(
    id integer NOT NULL DEFAULT nextval('city_id_seq'::regclass),
    name character varying(32) COLLATE pg_catalog."default",
    heat_wave boolean DEFAULT false,
    pluvial_floo

[2019-05-29 09:51] therter commented on #3
@ghilbrae Can you please add the units of the values to the legend

[2019-05-29 10:33] ghilbrae commented on #3
@therter done, we've added a first line with that info. Let us know if this works for you. There's not an easy way to do it other than editing the labels from the style (if we find a better option we'll try it).

[2019-05-29 12:23] negroscuro commented on #24
One question, when I check data availability for each city ... should I provide cities with both pluvial floods and heat wave datasets available or having just one of them is ok? do i have to provide two different lists of cities depending if a city has data for pluvial floods and/or for heat waves?
which criteria should I use?

[2019-05-29 18:18] fgeyer16 commented on #24
The first Idea I had was to use the module [Simple Hierarchical Select](https://www.drupal.org/project/shs)(SHS). So We would make the cities child terms of the countries. SHS allows to make tree dependet selections So you would have a Dropdown with countries and would select one. After that selection beside the drop down with the country would appear another one with all cities of this country.An

[2019-05-29 20:10] negroscuro commented on #24
There is a layer published in ATOS Geoserver with all available cities and their Bboxes:
http://services.clarity-h2020.eu:8080/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity%3Acity&bbox=2616789.0%2C1411734.375%2C6476075.5%2C4792134.0&width=768&height=672&srs=EPSG%3A3035&format=application%2Fopenlayers3

[2019-05-31 14:30] patrickkaleta commented on #24
I tested this locally and it worked. The relation between the two taxonomies has to be established by an Entity reference in the Cities/Regions taxonomy to the corresponding `Country` taxonomy term.
However, this mentioned [patch](https://www.drupal.org/project/business_rules/issues/2994155) has to be applied to the Business rules module, otherwise it won't work for forms that are being rendered w

[2019-06-03 08:16] negroscuro commented on #24
I provided a layer with cities, is there need to know related country as alphanumerical data along with the city data or do we need a new layer with country boundaries?

[2019-06-06 09:08] patrickkaleta commented on #24
I created the [Cities/Regions](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/cities_regions/overview) taxonomy, which is now ready to be filled. This taxonomy currently has (aside the default title and description fields) a field for the Bounding box and a reference to the Countries taxonomy (necessary for limiting the options in the Study-context form). **Country code is not pa

[2019-06-06 09:16] therter commented on #24
@patrickkaleta I don't need an additional field for the country code.

[2019-06-06 17:53] therter commented on #24
The city taxonomies are now available in the csis

[2019-06-13 14:10] RobAndGo commented on #3
Sorry for my very late reply, but yes, the colour scale does look much better!

[2019-06-17 07:41] therter commented on #24
I have updated the map-component locally according to the [KISS  approach](https://github.com/clarity-h2020/map-component/issues/24#issuecomment-496434276).
@patrickkaleta Can you add your changes from your [comment](https://github.com/clarity-h2020/map-component/issues/24#issuecomment-497729679) to the csis site, so that I can complete this issue?

[2019-06-17 07:55] patrickkaleta commented on #24
@therter I already created the necessary field in the Study group and configured the forms. Only thing left for me to do is to apply the mentioned patch to the Business rules module, so that this will work also for forms called via AJAX. I will do this today and inform you.

You can already test your map component with this new City/region field, when you edit the study group via this link (shows

[2019-06-17 08:01] p-a-s-c-a-l commented on #24
I did this already in https://github.com/clarity-h2020/docker-drupal/issues/53#issuecomment-502576926

[2019-06-18 06:36] patrickkaleta commented on #24
Just realized that we weren't talking about the same patch. For the city selection to work this [patch](https://www.drupal.org/files/issues/2018-08-21/2994155-2.patch) is required.
@p-a-s-c-a-l how did you apply patches so far? @fgeyer16 mentioned [this](https://punkt.de/de/blog/2017/patchen-mit-composer.html) approach to me, which I tested and it worked well in my local environment for the patch

[2019-06-25 08:56] maesbri opened #25 "Security Issues in Map Component"
@therter , @p-a-s-c-a-l
Not sure whether you are receiving these high severity security issues as well (via email): https://github.com/clarity-h2020/map-component/network/alerts

Maybe these libraries can be updated with no major impact/change in the current implementation of the map component.

[2019-06-26 09:27] p-a-s-c-a-l opened #26 "Update Webpack Config"
Web pack fails under windows, we have to update the config.

Why would we need a separate webpack config to create the application build? Why don't use 'varn build'?! Because `create-react-app build` resp. `yarn build` creates bundle files with hashes and we don't want to update `map_app.libraries.yml` every time we create a build. We don't need long time aggressive file caching imposed by create-

[2019-06-26 09:29] p-a-s-c-a-l opened #27 "Update Dependecies"
Update Dependencies fixing known security issues.

See https://github.com/clarity-h2020/map-component/network/alerts

[2019-06-26 09:30] p-a-s-c-a-l opened #28 "Support for Tags in Data Package Resources"
See https://github.com/clarity-h2020/data-package/issues/14#issuecomment-505778977

[2019-06-26 09:48] p-a-s-c-a-l commented on #27
Duplicate of https://github.com/clarity-h2020/map-component/issues/25

[2019-06-26 09:48] #27 closed

[2019-06-26 13:34] p-a-s-c-a-l commented on #13
@fgeyer16 @patrickkaleta

Any idea how to resolve this issue?

[2019-06-26 13:36] p-a-s-c-a-l commented on #2
Basic Data Package Support is available. Now we have to deal with the changes to the DP Specification.

[2019-06-26 13:36] #2 closed

[2019-06-26 13:36] p-a-s-c-a-l commented on #26
done

[2019-06-26 13:36] #26 closed

[2019-06-26 13:42] p-a-s-c-a-l opened #29 "Support for "references" properties"
See https://github.com/clarity-h2020/csis/issues/58

[2019-06-27 09:36] patrickkaleta commented on #13
I believe I found the [root problem](https://www.drupal.org/project/jsonapi/issues/3037519). According to [this change](https://www.drupal.org/sa-contrib-2018-081) there used to be a problem with "access bypass" when using certain filters on custom entities. And apparently the Group type is considered a custom entity by the JSON API. That explains why the demo user was still able to view the group

[2019-06-27 12:25] p-a-s-c-a-l commented on #25
done

[2019-06-27 12:25] #25 closed

[2019-06-27 16:34] fgeyer16 commented on #13
Keeping all fixes and improvements for the csis in one place is a good idea. But maybe we should separate some parts of the csis_helpers module in child modules (modules inside of modules). SO we can switch off single parts if the make problems after an update or are not needed any more because drupal core or a module can do the stuff in a never version. Then there is no need to modify code, just

[2019-06-28 10:06] patrickkaleta commented on #13
Concerning the study area, there is also a rest view which only provides the study area (I think I made it ages ago): https://csis.myclimateservice.eu/rest/study/1/area
Since it is a view we ca nset the permissions in the UI.

@therter could you try to retrieve the study area using the Rest view created by Florian. If so, we wouldn't need to include the fix I previously mentioned. If not, I'll hav

[2019-06-28 10:30] therter commented on #13
I am testing it.

This link is still used, but as ID, the uuid is now required.
Example:
https://csis.myclimateservice.eu/jsonapi/group/study?filter[id][condition][path]=id&filter[id][condition][operator]=%3D&filter[id][condition][value]=c3609e3e-f80f-482b-9e9f-3a26226a6859

[2019-06-28 12:09] p-a-s-c-a-l opened #30 "Implement RA/IA Map"
Status:

- [x] GUI implementation ("html wireframe") as React AJAX web Application following the respective [Product Mock-Ups](https://repository.atosresearch.eu/owncloud/index.php/apps/files?dir=%2FCLARITY%2FWP1%20CO-Creation%2FT1.3%20Climate%20Services%20Co-Creation%2FCSIS%20Product%20Mockups)
- [x] [Integration](https://github.com/clarity-h2020/docker-drupal/issues/11) into the respective [GL-S

[2019-06-28 12:16] p-a-s-c-a-l commented on #30
Data Package has to be created. See https://github.com/clarity-h2020/data-package/issues/16

[2019-07-01 07:48] p-a-s-c-a-l commented on #24
@therter Status?

[2019-07-01 13:17] therter commented on #24
The cities were imported and can be used by the map-component

[2019-07-01 13:17] #24 closed

[2019-07-01 14:07] p-a-s-c-a-l opened #31 "Implement IAO/AAO Map"
Status:

- [ ] GUI implementation ("html wireframe") as React AJAX web Application following the respective [Product Mock-Ups](https://repository.atosresearch.eu/owncloud/index.php/apps/files?dir=%2FCLARITY%2FWP1%20CO-Creation%2FT1.3%20Climate%20Services%20Co-Creation%2FCSIS%20Product%20Mockups)
- [ ] [Integration](https://github.com/clarity-h2020/docker-drupal/issues/11) into the respective [GL-S

[2019-07-01 14:31] p-a-s-c-a-l opened #32 "Implement EE MAP"
Status

- [ ] GUI implementation ("html wireframe") as React AJAX web Application following the respective [Product Mock-Ups](https://repository.atosresearch.eu/owncloud/index.php/apps/files?dir=%2FCLARITY%2FWP1%20CO-Creation%2FT1.3%20Climate%20Services%20Co-Creation%2FCSIS%20Product%20Mockups)
- [ ] [Integration](https://github.com/clarity-h2020/docker-drupal/issues/11) into the respective [GL-St

[2019-07-01 15:04] p-a-s-c-a-l opened #33 "Implement HC Map"
Status

- [ ] GUI implementation ("html wireframe") as React AJAX web Application following the respective [Product Mock-Ups](https://repository.atosresearch.eu/owncloud/index.php/apps/files?dir=%2FCLARITY%2FWP1%20CO-Creation%2FT1.3%20Climate%20Services%20Co-Creation%2FCSIS%20Product%20Mockups)
- [ ] [Integration](https://github.com/clarity-h2020/docker-drupal/issues/11) into the respective [GL-St

[2019-07-01 15:24] p-a-s-c-a-l opened #34 "Implement HC-LE Map"
Status

- [ ] GUI implementation ("html wireframe") as React AJAX web Application following the respective [Product Mock-Ups](https://repository.atosresearch.eu/owncloud/index.php/apps/files?dir=%2FCLARITY%2FWP1%20CO-Creation%2FT1.3%20Climate%20Services%20Co-Creation%2FCSIS%20Product%20Mockups)
- [ ] [Integration](https://github.com/clarity-h2020/docker-drupal/issues/11) into the respective [GL-St

[2019-07-08 07:32] p-a-s-c-a-l commented on #31
See https://github.com/clarity-h2020/emikat/issues/8 for a possible simplification. Instead of applying adaptation options to a grid cell, we apply it to a polygon.

[2019-07-10 09:29] therter opened #35 "Use the new reference structure"
The reference object has now the fields path, qualifier and type instead of an array with three values for path, qualifier and type.

[2019-07-10 09:46] #35 closed

[2019-07-18 08:27] patrickkaleta commented on #13
As was briefly discussed during our plenary meeting, using the REST-view created by @fgeyer16 is not a feasible solution since @therter needs to access various other data besides the study area. So I implemented the proposed hook in https://github.com/clarity-h2020/map-component/issues/13#issuecomment-506272720 in the csis_helpers module and deactivated the [workaround](https://github.com/clarity-

[2019-07-18 09:19] therter commented on #13
@patrickkaleta thanks, I have checked the react components and they are still working. So this issue can be closed.

[2019-07-18 09:19] #13 closed

[2019-07-23 04:21] p-a-s-c-a-l opened #37 "Switch to iFrame"
In order to support the optimised react build process, we have to switch from [React Mount Node](https://www.drupal.org/project/reactjs_mount) to an iFrame.

[2019-07-23 12:48] DenoBeno commented on #37
What does this mean in terms of implementation changes?

On Tue, 23 Jul 2019, 06:21 Pascal Dihé, <notifications@github.com> wrote:

[2019-07-23 13:17] p-a-s-c-a-l commented on #37
@therter Does it make any difference?

[2019-07-23 13:18] p-a-s-c-a-l opened #38 "React Production Build fails"
React Production Build fails with

[code]

[2019-07-23 13:21] therter commented on #37
This will at least change the communication betweeen drupal and the app, but there should not be so many changes

[2019-07-23 14:05] DenoBeno commented on #37
See the ticket I posted in "data package". If we already have to change the way communication works, maybe we can do it in a way that will make if usable in data pagkage/resources and not only in the study.

[2019-07-23 15:35] p-a-s-c-a-l commented on #38
add

[code]
to package.json

[2019-07-24 09:32] therter opened #39 "Refactoring and removal of unused code"

[2019-07-24 15:00] #39 closed

[2019-07-24 15:00] #38 closed

[2019-08-02 14:22] DenoBeno opened #40 "Can't define *one* study area"
I am trying to add a new study. At "define area" step, I am stuck with not being able to define just one area bounding box.

![image](https://user-images.githubusercontent.com/2961790/62376703-89bedf00-b541-11e9-86b8-b172bb1c551f.png)

My mouse is released, but the widget still wants me to release it to finish drawing....

By the way the edit button should be probably renamed "toggle edit". Or cha

[2019-08-02 14:25] DenoBeno commented on #40
Furthermore, it is very difficult to find the area of interest since the map doesn't zoom out and doesn't provide any search capability either.

By the way, when I managed to get just one BB, this BB wasn't saved.

[2019-08-02 14:32] p-a-s-c-a-l commented on #40
That's intentionally. You select the country and city region in the previous step (study context). Then the study area map is locked to this city region. There is no need to zoom out beyond the city region or search, because you are only able to define your study area exactly within this region. We discussed and agreed on this behaviour during the Frankfurt DEV meeting.

Maybe another regression i

[2019-08-02 17:04] therter commented on #40
There was no city selected.
Now the component shows a hint that the user should select a city, if no city is selected and the component does not switch to the edit mode without a city.

[2019-08-02 17:04] #40 closed

[2019-08-12 14:45] patrickkaleta commented on #37
@therter could this [Iframe module](https://www.drupal.org/project/iframe) for Drupal be of any help for this task?

[2019-08-12 14:50] p-a-s-c-a-l commented on #37
No, this module is too restrictive. We need to pass some properties (study id, etc.) to the iFrame. Either via seamless.js or via a dynamically constructed iFrame URL with several query parameters. So we need a TextField with JavaScript or a custom module.

[2019-08-12 14:57] DenoBeno commented on #37
And if we add the parameters to the page with a view? E.g. some hidden json or xml within the page.

Or a special view that can be called with the page path and returns all the parameters a widget needs?

[2019-08-12 14:59] p-a-s-c-a-l commented on #37
There is already a [csis-helpers-module](https://github.com/clarity-h2020/csis-helpers-module) for this functionality available and we use it for the MCDA Application iFrame. So in principle. everything can stay as it is. No need for additional modules, views, etc.

[2019-08-12 15:45] DenoBeno commented on #37
Not sure what the helper module does (https://github.com/clarity-h2020/csis-helpers-module/blob/dev/README.md is not very helpful), but here is a proof of concept for what i had in mind.

- https://csis.myclimateservice.eu/rest/widgets/resource/summary/754

for even more fun, try this:

- https://csis.myclimateservice.eu/rest/widgets/resource/summary/754?reference_type=%40mapview%3Aogc%3Awms

For

[2019-08-14 07:17] p-a-s-c-a-l commented on #37
Map Widget uses the new [JSON API](https://www.drupal.org/docs/8/modules/jsonapi/jsonapi-vs-cores-rest-module), REST Views are based on the outdated REST module. The REST modules's JSON format is different, and we won't support two different JSON formats. But since we need JavaScript anyway, those views don't offer any benefit.

[2019-08-14 11:31] patrickkaleta commented on #37
True indeed. I already updated the readme of the csis-helpers module.

[2019-08-21 08:35] therter opened #41 "The GroupedLayerControl element is not shown properly after a mouseover event"
The style property max-height of the expanded GroupedLayerControl element is set to "0px". So the content of the element will not be shown after a mouse over event.
The reason for this is that the initialisation of the map-component happens while the "Analysis Map" tab is collapsed and the height of the react component is 0px.

[2019-08-21 08:37] p-a-s-c-a-l commented on #41
How to resolve this? Can this be changed in the respective Drupal View or is it a general problem of [the new theme](https://github.com/clarity-h2020/clarity-theme/issues)?

[2019-08-21 08:43] therter commented on #41
The max-height of the expanded GroupedLayerControl element can set to 465px via javascript (within the body of the "React Mount with JS" content type), to solve this problem.

After the switch from React Mount Node to an iFrame, the component should work without this workaround.

[2019-08-21 09:15] p-a-s-c-a-l commented on #41
That the root cause of the problem. Can it be prevented?

[2019-08-21 09:17] p-a-s-c-a-l commented on #29
done

[2019-08-21 09:17] #29 closed

[2019-08-21 09:18] p-a-s-c-a-l commented on #28
done

[2019-08-21 09:18] #28 closed

[2019-08-21 09:20] p-a-s-c-a-l opened #42 "csis-helper-js module"
Use new [new csis-helper-js module](https://github.com/clarity-h2020/csis-helpers-js/issues/1) to mess around with Drupal JSON:API instead of re-implementing common functionality in each specific map.

[2019-08-21 10:46] p-a-s-c-a-l commented on #42
Upgrading to leaflet v2. See also https://github.com/tumerorkun/react-leaflet-grouped-layer-control/issues/3

[2019-08-21 10:50] p-a-s-c-a-l opened #43 "Add tests"
Add some tests!

[2019-08-21 10:52] p-a-s-c-a-l opened #44 "Add Stylguide"
Add styleguide to be able to test the application locally!

[2019-08-22 07:42] p-a-s-c-a-l commented on #34
See https://github.com/clarity-h2020/emikat/issues/12#issuecomment-523788663

[2019-08-22 16:54] DenoBeno commented on #21
I can't do anything on a map, getting myself out of the loop.

[2019-08-23 06:28] p-a-s-c-a-l commented on #22
This won't work any more , when we've switched to [iFrames](https://github.com/clarity-h2020/map-component/issues/37)! But I consider this particular feature less important. General support for [iFrames in Report](https://github.com/clarity-h2020/csis-helpers-module/issues/13) should be implemented first. Then we'll see if and how to restore this feature.

[2019-08-23 10:31] p-a-s-c-a-l opened #45 "Support for CI"
Create Jenkinsfile and tell and update CI server to use it.

[2019-08-23 14:42] p-a-s-c-a-l opened #46 "Routing not working"
Routing is not working when the app is deploy on subdirectory of csis.myclimateservice.eu, e.g. [here](https://csis.myclimateservice.eu/apps/map-component/build/CharacteriseHazardMapTest/?study_uuid=c3609e3e-f80f-482b-9e9f-3a26226a6859)

[2019-08-23 14:49] p-a-s-c-a-l commented on #46
@therter any idea?

`<Route path={`${process.env.PUBLIC_URL}/CharacteriseHazardMapTest/`} component={CharacteriseHazardMap} />`

becomes

`<Route path="https://csis.myclimateservice.eu/apps/map-component/build/CharacteriseHazardMapTest/" component={CharacteriseHazardMap} />`

but component CharacteriseHazardMap is not instantiated, instead the default fallback component is loaded.

[2019-08-23 14:53] p-a-s-c-a-l commented on #46
This is just unbelievable:
- PUBLIC_URL in env.production must not contain the hostname
- PUBLIC_URL in env.development / .env is simply **ignored** in DEV builds (yarn start)

[2019-08-23 14:53] #46 closed

[2019-08-26 08:11] p-a-s-c-a-l commented on #45
@DanielRodera I configured the [map-component CI project](http://5.79.69.49/job/map-component) in Jenkins, but when I execute it, it seems to [run forever](http://5.79.69.49/job/map-component/3/console) (probably the same problem as with the [simple-table-component](https://github.com/clarity-h2020/simple-table-component/issues/3#issuecomment-524308940)).

[2019-08-27 08:46] therter opened #47 "Remove the fake data that will be shown, when no data is found in the dp"
If there is no wms map configured in the data package, no data should be shown.

[2019-08-27 09:50] therter opened #48 "Consider additional attributes like the emikat id"
Additional GetMap request parameter should not be removed from the GetMap request url

[2019-08-27 12:17] DanielRodera commented on #45
I have updated the Jenkinsfile. Now is working properly:

![image](https://user-images.githubusercontent.com/42216407/63770352-4b64d780-c8d5-11e9-8e6a-ba7cf9c1a503.png)

I also solved the problem related to the following image:

![image](https://user-images.githubusercontent.com/42216407/63770204-ea3d0400-c8d4-11e9-9492-8fe18c2c3236.png)

[2019-08-28 14:08] DenoBeno opened #49 "Emikat "population" map not showing up properly."
I am not 100% sure what is wrong, but the result is that the map shows population data in Naples although the study area is set for Stockholm.

Here is how to check:

- https://csis.myclimateservice.eu/study/25/view/data shows the map with all resources, choose population and see that only the population in Naples is shown.
- https://csis.myclimateservice.eu/group/25/edit indicates that emikat ID

[2019-08-28 16:43] DenoBeno commented on #49
Update: I just looked up again and the data is now available in Stockholm

road transport layer:

![image](https://user-images.githubusercontent.com/2961790/63875361-9ceb9000-c9c3-11e9-9290-5d14a71f8c20.png)

Population layer:
![image](https://user-images.githubusercontent.com/2961790/63875398-aa087f00-c9c3-11e9-9de5-a57850c9a3b5.png)

[2019-08-28 16:45] DenoBeno commented on #49
Btw, we really need some kind of an "empty map" background. E.g. just city names & administrative borders, but no colorful background.

[2019-08-28 16:46] DenoBeno commented on #49
@humerh : did you change anything on emikat side?

[2019-08-28 16:49] humerh commented on #49
Yes, there was an error in the interface between Geoserver and Emikat.
I fixed the error!

[2019-08-29 09:05] p-a-s-c-a-l opened #50 "Encoded URLs not supported"
See https://github.com/clarity-h2020/data-package/issues/41#issuecomment-526095463.

Possible solution: apply decodeURI() before analysing and reconstructing the URI.

[2019-08-29 09:53] p-a-s-c-a-l opened #51 "Attribution not shown"
Attribution of layer not shown, even if hardcoded (!):
![grafik](https://user-images.githubusercontent.com/1788226/63930424-a1f82000-ca53-11e9-9c68-5fae4cf31829.png)

[2019-08-29 09:59] p-a-s-c-a-l commented on #48
done

[2019-08-29 09:59] #48 closed

[2019-08-29 10:00] p-a-s-c-a-l commented on #47
done

[2019-08-29 10:01] #47 closed

[2019-08-29 10:12] #3 closed

[2019-08-29 10:13] #42 closed

[2019-08-29 10:14] p-a-s-c-a-l commented on #41
Not relevant any more in https://github.com/clarity-h2020/map-component/issues/37

[2019-08-29 10:14] #41 closed

[2019-08-29 10:15] #21 closed

[2019-08-29 12:41] therter commented on #50
I don't know why, but decodeURI() does not work.
The function decodeURIComponent() works, when I use it in the extractLayers(url) and extractStyle(url) functions to decode the return value.

[2019-08-29 14:21] therter commented on #51
This should work. I have done the same as you (add the attribution attribute under the tileSize) and I see the attribution in the bottom right corner after I have selected an overlay layer.

![Auswahl_137](https://user-images.githubusercontent.com/1788509/63947850-fc0adc80-ca77-11e9-9daf-e7d1239c93df.png)

[2019-09-02 06:44] p-a-s-c-a-l commented on #51
Does not work with react leaflet v

[2019-09-03 11:01] p-a-s-c-a-l opened #52 "iFrame-Support for Study Area Map"
[iFrame-Support](https://github.com/clarity-h2020/map-component/issues/37) for the  Study Area Map is currently not implemented. This requires a **major rework** of [StudyAreaMap.js](https://github.com/clarity-h2020/map-component/blob/dev/src/components/commons/StudyAreaMap.js) and possibly [StudyArea.js](https://github.com/clarity-h2020/map-component/blob/dev/src/components/StudyArea.js). Therefo

[2019-09-03 11:06] p-a-s-c-a-l commented on #50
Implemented in [feature/037-iframe](https://github.com/clarity-h2020/map-component/tree/feature/037-iframe)

[2019-09-03 11:06] #50 closed

[2019-09-03 11:07] p-a-s-c-a-l commented on #22
KISS

[2019-09-03 11:07] #22 closed

[2019-09-03 14:49] p-a-s-c-a-l opened #53 "Set initial Bounding Box Broken"
Two main Problems:

1) what we get from drupal:
minx=1.9429e+06&miny=4.64769e+06&maxx=2.01214e+06&maxy=4.72026e+06
results in: Error: "Invalid LatLng object: (1.9429e 06, 4.64769e 06)"

2) if we remove the exponent, the bbox is the middle of the Atlantic ocean instead of naples: [Map](https://csis.myclimateservice.eu/apps/map-component/build/DataPackagePreviewMap/?host=https://csis.myclimateservic

[2019-09-03 18:20] therter commented on #53
The coordinates are in EPSG:3035, but we need the EPSG:4326 coordinates. If you look [here](https://csis.myclimateservice.eu/node/918/edit), then you see the coordinates in EPSG:4326 and in EPSG:3035. The View of the dp_spatial_extent taxonomy is very confusing, because the title of the map is "Bounding box (EPSG:4326)" and the coordinates under the map are in EPSG:3035.

Either we try to get the

[2019-09-03 20:52] p-a-s-c-a-l commented on #53
@maesbri @denobeno

Can you please explain How to obtain the spatial extent in 4326? i thought this epsg discssion was Finally settled and **inside** drupal we use 4326 only which is **perfectly fine** and Now implemented in the map component.  We use 4326 in study area and   Cities taxonomy so why Not in spatial extent?

[2019-09-03 21:14] DenoBeno commented on #53
I'm not 100% sure, but you might be looking at the wrong data. Or that the
data itself is wrong.

Last time I looked into this, I realised the following.

First, the two sets of the coordinates we are talking about are very
different in nature.

- the one that's useful natively by drupal and Google and... is the one we
learn in school, with coordinates like 45N, 16E.
- the one that's used by our m

[2019-09-03 21:31] DenoBeno commented on #53
What I'm talking about is the data that's in the cities taxonomy.

As for the data that's in the dp_spatial, here the situation is a bit
different:
- The four xmin etc variables may be empty or contain any garbage. We
aren't using them, they just haven't been deleted to avoid problems with
the DB.
- the bounding box geospatial variable contains correct data in the sense
that it's visualised on a m

[2019-09-04 07:17] p-a-s-c-a-l commented on #53
OK. Thanks. That means that minx; miny; maxx; maxy; should be deleted from spatial extent or at least renamed. Right @patrickkaleta @maesbri  ?

[2019-09-04 08:05] patrickkaleta commented on #53
probably the lon/lat order was reversed.

on uploading new values, but I haven't looked into this later on.

No sorry @DenoBeno that was not me, but I also remember that this was discovered/discussed in a telco, probably by @therter and/or @negroscuro if I'm not mistaken.

I'll prepend a "`remove_`" to the 4 fields in question in the [spatial extent](https://csis.myclimateservice.eu/admin/structur

[2019-09-05 08:03] p-a-s-c-a-l commented on #53
workaround implemented.

[2019-09-05 08:03] #53 closed

[2019-09-06 09:40] p-a-s-c-a-l commented on #37
done

[2019-09-06 09:40] #37 closed

[2019-09-06 10:23] p-a-s-c-a-l opened #54 "Support for additional processing variables"
ATM just `$emikat_id` is supported in [BasicMap.js](https://github.com/clarity-h2020/map-component/blob/dev/src/components/commons/BasicMap.js) and replaced in resource URL templates by query param `$emikat_id`. The query parameters are set by [csis_iframe_connector.js](https://github.com/clarity-h2020/csis-helpers-module/blob/dev/js/csis_iframe_connector.js) and extracted from the Drupal site by

[2019-09-06 10:58] p-a-s-c-a-l commented on #49
European Population Distribution is now shown on [the map](https://csis.myclimateservice.eu/apps/map-component/build/StudyPreviewMap/?host=https://csis.myclimateservice.eu&study_uuid=9359e741-df40-4bcd-9faf-2093b499c65c&study_area=POLYGON%20((17.884345%2059.334569,%2017.884345%2059.381605,%2018.029227%2059.381605,%2018.029227%2059.334569,%2017.884345%2059.334569))&emikat_id=3183&datapackage_uuid=2

[2019-09-06 10:58] #49 closed

[2019-09-11 17:28] therter opened #55 "StudyAreaMap: The requirement of cities should depend on the study"
At the moment, the user has to select a city before it is allowed to select a study area. But for some study types, it should be possible to choose study areas outside of the defined cities. In the first step, this should be possible for all study types, which have not the study calculation type "EMIKAT screening"

[2019-09-23 07:45] p-a-s-c-a-l opened #56 "Unnecessary network requests during animated zoom"
The animated zoom-to-study-area function seems to cause many unnecessary network requests:

![grafik](https://user-images.githubusercontent.com/1788226/65408776-79f7a480-dde6-11e9-9816-0a5b3f6b0348.png)

This is probably overloading the server (see https://github.com/clarity-h2020/emikat/issues/9#issuecomment-533990971). This should be a common leaflet problem. If we cannot resolve it easily, we h

[2019-09-23 08:23] claudiahahn commented on #21
I just realised that:
- when selecting e.g. summerdays rcp85 - 2071-2100: the legend is too long and not properly shown anymore, units are not displayed because the legend is too long
![grafik](https://user-images.githubusercontent.com/45260352/65411038-1cfeed00-ddec-11e9-8013-044415dd7bec.png)

- there is no title yet (I know, there are more pressing issues right now), but if there is time: it wo

[2019-09-23 09:00] p-a-s-c-a-l commented on #21
Regarding the size of the legend, imho we have no influence on that, right @therter ?
So the only possibility would be to increase the height of the map component.

Regarding the missing title/unit, imho this is something that has to be configured in the WMS, so maybe @LauraMTG  or @ghilbrae can have a look?

[2019-09-23 10:00] therter commented on #21
At the moment, the legend has the same size as the image, we retrieve from the wms. But we can use css to scale down every legend image to 80% for example.

[2019-09-25 13:05] p-a-s-c-a-l commented on #55
status?

[2019-09-25 13:05] p-a-s-c-a-l commented on #52
done

[2019-09-25 13:05] #52 closed

[2019-09-25 13:08] p-a-s-c-a-l opened #57 "Study Area Map: Disable unnecessary edit controls"
Disable all edit controls but rectangle:

![grafik](https://user-images.githubusercontent.com/1788226/65603606-46637880-dfa6-11e9-8cfd-c76fbd71fe32.png)

[2019-09-25 18:23] therter commented on #55
This is working. The used branch is feature/55_study_area_without_city

[2019-09-26 08:55] therter commented on #57
I can remove the edit controls. The study area map will then look like this:

![Bildschirmfoto vom 2019-09-25 20-24-14](https://user-images.githubusercontent.com/1788509/65628850-91938080-dfd2-11e9-9c51-1828d2d97f4d.png)

[2019-09-26 15:55] DenoBeno opened #58 "Map zooms & pans after screenshot is taken"
After taking a screenshot, the map zooms back to the study area. This should IMO not happen

I wanted to make two screenshots of the same area (larger than the study area) for two time periods. Since the map always resets the zoom & pan after screenshot, it's practically impossible to do this.

[2019-09-26 16:00] DenoBeno commented on #58
By the way, I would prefer to have a "reset" button to map doing it on its own. For all I care it can just change zoom/pan immediately without animation, but please only when I say so...

[2019-09-26 18:04] #55 closed

[2019-09-26 18:04] therter commented on #57
The used branch is feature/57_study_area_remove_edit_controls that is based on feature/55_study_area_without_city

[2019-09-26 18:04] #57 closed

[2019-09-26 18:47] p-a-s-c-a-l commented on #58
Is seems that the iFrame hosting the map Component is forcibly reloaded after the screenshot is taken. If this is really the case we can do nothing about that since after the reload all contextual information is lost. In any case, this issue has to be addressed [in this issue](https://github.com/clarity-h2020/csis-helpers-module/issues/13).

[2019-10-01 12:54] DenoBeno commented on #58
That's a bad news. Especially combined with https://github.com/clarity-h2020/emikat/issues/22. So we have two issues at a hand now:

- it's difficult to take several map screenshots that can be compared
- Slowly loading maps get even slower because they re-load and zoom every now and then.

@patrickkaleta, is there anything you can do on the "screenshot" side to avoid this reload after taking a sc

[2019-10-01 15:24] patrickkaleta commented on #58
It's not really the fault of the screenshot feature, but instead caused by the edit-form, which is opened after the screenshot is created. Saving that edit-form causes the page to be reloaded. That's the default Drupal behaviour. I have to check and see if there is a way to bypass this.
@fgeyer16 maybe you have already encountered such a problem in the past and found a solution?

[2019-10-02 10:21] DenoBeno commented on #58
Maybe this can help?

https://agaric.coop/blog/display-forms-modal-dialog-drupal-8

[code]

[2019-10-03 07:05] patrickkaleta commented on #58
Looks promising, I will give it a try.

Should not be much of a problem, since we are already using similar hooks in our csis helpers module and I doubt that we will have to change this feature (having a modal submit form not trigger a page reload)  too often in the future.

[2019-10-03 09:02] DenoBeno opened #59 "How to implement better/more useful map component(s)?"
As of today, it seems that we have a working map component, so it's time to think about the possible improvements. Here are some I can think of, for discussion:

- [x] **1. avoid resetting after taking a screenshot.**
Implemented, see https://github.com/clarity-h2020/map-component/issues/58

- [ ] **1b. avoid resetting after changing a preset.**
This is currently the case (03/02/2020), see https:/

[2019-10-03 09:07] DenoBeno commented on #58
Actually, I think that we will need this for all "screenshots", not just for the maps.

When user spends some time customising what is shown to take a screenshot, it's possible that they want to take another with just one or two parameters changed. The application should not reset and force them to repeat all the work for the next screenshot....

Later when we just edit the text (in summary tabs),

[2019-10-03 12:28] DenoBeno opened #60 "No risk/impact data shown in table & map for the future"
As I implemented https://github.com/clarity-h2020/csis/issues/109, I quickly realised that no risk/impact map shows for the future. Not sure what is causing it:

- emikat not generating the map?
- map component not asking for it corerctly?
- emikat filters broken?

![grafik](https://user-images.githubusercontent.com/2961790/66126203-37557980-e5e9-11e9-8f62-09089836f7d4.png)

The variables from csi

[2019-10-03 12:35] DenoBeno commented on #60
Seems to be EMIKAT

`https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2975&bbox=4672000.0,1979500.0,4687500.0,1988000.0&width=768&height=421&srs=EPSG:3035&format=image/gif&CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%2720410101-20701231%27%20AND%20EMISSIONS_SCENARIO=%27rcp45%27%20AND%20EVENT_FREQUENCY=%27Rare%27%20AND%20SZ

[2019-10-03 12:50] DenoBeno commented on #60
OK, we have the same isue for the table - except that this works

https://csis.myclimateservice.eu/apps/simple-table-component/build/?emikat_id=3189&time_period=20110101-20401231&emissions_scenario=rcp45&event_frequency=Frequent

but this doesn't, except for the "historical" period.

https://csis.myclimateservice.eu/study/33/step/1517/view/table

@therter: not sure about the first, but at least th

[2019-10-03 13:00] DenoBeno commented on #60
FYI, I have added the emikat ID to the view, to ease debugging.

![grafik](https://user-images.githubusercontent.com/2961790/66128493-32df8f80-e5ee-11e9-80bf-3b851344fba9.png)

![grafik](https://user-images.githubusercontent.com/2961790/66128523-4559c900-e5ee-11e9-81e5-0d915652298c.png)

[2019-10-03 22:26] humerh commented on #60
Ein günstiger Ausschnitt für diese Study-Area:
https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2975&bbox=5523000,1755000,5535000,1760000&width=768&height=421&srs=EPSG:3035&format=image/gif&CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%2720410101-20701231%27%20AND%20EMISSIONS_SCENARIO=%27rcp45%27%20AND%20EVENT_FREQUENCY=%27

[2019-10-04 07:24] DenoBeno commented on #60
Wait!

They all look the same. Are you sure that filters work?

[2019-10-04 08:57] therter commented on #60
The map component retrieves an empty layer image from the emikat wms for all time periods except Baseline. So I think, there were no data calculated for the future time periods.

The problem with the table component is the attribute  filter=SZ_ID=3189 in the emikat request. The server responds with
`Error during data retrieval - EMIKAT-Server.DB.ConnectionProblem: Can't access db: java.sql.SQLSynt

[2019-10-04 09:10] therter commented on #60
And if this is the case, I can remove the SZ_ID  attribute from the resource (https://csis.myclimateservice.eu/node/1356) and the table should work again.

[2019-10-04 09:13] DenoBeno commented on #60
I don't know. Yesterday https://csis.myclimateservice.eu/apps/simple-table-component/build/?emikat_id=3189&time_period=20110101-20401231&emissions_scenario=rcp45&event_frequency=Frequent worked, so I suppose it's Heinrich who changed something.

As for the map layers, yesterday they were showing empty result for anything in the future, earlier today they were showing the same results for all filte

[2019-10-04 09:30] DenoBeno commented on #60
SZ_ID is indeed not needed any-more with tables.

As for the map, Patrick and I double checked this now and the issue is that the map widget always requests the "Baseline" scenario. Guess it's not taking the variable correctly from the csis helpers.

[2019-10-04 10:15] DenoBeno opened #61 "EMIKAT not showing correct map after change of study location"
This is probably EMIKAT caching issue, but I'm reporting iit under map because it concerns map component too.

When the study area is changed, EMIKAT still shows the data for the old area. I double-checked the situation and EMIKAT does get the right coordinates so it seems to be an issue with caching.

Furthermore, on next change of area the area shown will be changed to one before the last again.

[2019-10-04 10:23] DenoBeno commented on #59
related to https://github.com/clarity-h2020/csis/issues/105#issuecomment-537927714, I will add the wish number 5 to the list: a possibility to show several layers on a map and colour-code them differently.

As noted on https://github.com/clarity-h2020/csis/issues/105#issuecomment-538019284, this *could* also be done server-side by calculating one layer from several input layers, but that requires

[2019-10-04 10:30] DenoBeno commented on #61
I just reloaded the same map again and all is OK. It's definitely some kind of a caching issue, I'm just not sure if the map component or the EMIKAT is responsible.

![image](https://user-images.githubusercontent.com/2961790/66201109-ca061f00-e6a2-11e9-808f-da70aebdca17.png)

[2019-10-04 12:45] therter commented on #60
I have removed this attribute

A wrong parameter name was used (emission_scenario instead of emissions_scenario). The map and the table should now work

[2019-10-04 13:28] DenoBeno commented on #60
Now, that's something completely different! :-)

![](file:///tmp/Screenshot_2019-10-04_15-27-13.png)

I'm closing this before somethign bad happens again.

[2019-10-04 13:28] #60 closed

[2019-10-04 16:18] DenoBeno opened #62 "Map component doesn't set the temperature type in EMIKAT local temperature layers."
related to https://github.com/clarity-h2020/data-package/issues/45

EMIKAT produces three different temperature maps (and possibly also a "discomfort" map too?). I have defined separate resources for each of them, but the map is the same for all three of them.

This is how it SHOULD look like:

Apparent temperature is the lowest. `
https://service.emikat.at/geoserver/clarity/wms?service=WMS&versio

[2019-10-07 06:59] #32 closed

[2019-10-07 07:00] #33 closed

[2019-10-07 07:00] #34 closed

[2019-10-07 07:00] #30 closed

[2019-10-07 07:35] p-a-s-c-a-l commented on #60
where?

[2019-10-07 07:40] p-a-s-c-a-l commented on #61
Changing the study are is a feature we should disable when the system goes life. For development and testing it's o.k., but in production we don't need it IMO. If the the user want a new area -> new study.

[2019-10-07 07:40] therter commented on #60
The wrong parameter was used in the csis-helpers-module. See clarity-h2020/csis-helpers-module#15

[2019-10-07 08:08] p-a-s-c-a-l commented on #62
@therter how is the 'styles' parameter treated? Is it removed from the request URI?

[2019-10-07 09:12] patrickkaleta commented on #58
Of course. It would even be more difficult if we wanted to specify that this should only work for certain types of screenshots, so let's apply it on all screenshots.

Sounds reasonable but that could become a problem. The hook function in your solution fires everytime a Report image is edited. I need to add an additional check that will prevent this on all summary pages.

[2019-10-07 10:12] DenoBeno commented on #61
I'm not so sure.
It's far too easy to take a wrong area per mistake. There may be valid reasons to do the calculation with several areas too...

As for changing the study type, that's a pretty destructive task. Maybe it should be disabled. At very least, it should be made more difficult (THIS WILL WIPE UP ALL PROJECT DATA, DO YOU REALLY WANT TO PROCEED? [NO WAY] [DEFINITELY NOT] [LET ME RETHINK] [

[2019-10-07 10:17] DenoBeno commented on #59
My recent testing has clearly shown that the colour coding (e.g. for the hazard layers is not ideal. Basically, I wasn't able to say by how much the data changed in different scenarios. Was it 50 summer days, 70 or 90?

What can we do about this?

[2019-10-07 13:18] DenoBeno commented on #62
I'm still getting the same data for all three layers on https://csis.myclimateservice.eu/study/35/step/1524/view/maps

[2019-10-07 13:22] mattia-leone commented on #62
Please reload the page and try again. Now you should see different data

[2019-10-07 13:24] therter commented on #62
Please reload the page and try again. Now you should see different data

[2019-10-07 14:07] therter commented on #62
The layers from emikat have the following urls:
`https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%2720710101-21001231%27%20AND%20EMISSIONS_SCENARIO=%27rcp85%27%20AND%20EVENT_FREQUENCY=%27Rare%27%20AND%20SZ_ID=3189&&service=WMS&request=GetMap&layers=clarity%3Aview.2974&styles=T_UTCI%0D%0A&format=image%2Fpng&transparent=true&version=1.1.1&l

[2019-10-07 14:52] humerh commented on #62
I dont unterstand, I get 3 different pictures.

[2019-10-07 14:58] therter commented on #62
Before the last update of the map-component, the style parameter was ignored by the map-component. This was not a emikat problem and the problem is fixed. So I think, I can close this issue

[2019-10-07 14:58] #62 closed

[2019-10-08 06:56] p-a-s-c-a-l commented on #51
low priority issue

[2019-10-08 07:10] p-a-s-c-a-l commented on #54
done

[2019-10-08 07:10] #54 closed

[2019-10-08 07:11] #44 closed

[2019-10-09 09:25] patrickkaleta commented on #58
I implemented this new [feature](https://github.com/clarity-h2020/csis-helpers-module/tree/feature/mc058-prevent-redirect/js). The page now doesn't reload after the edit form of the new report image is saved. (Edit forms on the Summary pages still trigger the page to reload)

However, I noticed that the study area starts moving around after the first screenshots, when the user moves the map or zoo

[2019-10-09 09:25] #58 closed

[2019-10-09 09:34] patrickkaleta opened #63 "Study area starts moving after taking first screenshot"
After implementing the new feature (#58) of the page not to reload after a screenshot is taken, I noticed that the study area starts moving once the user is either moving in the map or zooming in or out of it. This is both the case for the Study area map (e.g. [here](https://csis.myclimateservice.eu/study/35/view/area)), as well as for the individual maps in each GL-step (e.g. [here](https://csis.

[2019-10-10 08:14] therter commented on #63
That was the reason for the wrong study area after a screenshot was taken. But with the onclone parameter of the html2canvas function, this could be fixed.

[2019-10-10 08:14] #63 closed

[2019-10-11 12:30] p-a-s-c-a-l commented on #43
done

[2019-10-11 12:39] #56 closed

[2019-10-11 12:47] p-a-s-c-a-l commented on #45
Update Hook URI once https://github.com/clarity-h2020/simple-table-component/issues/3#issuecomment-541049553 is resolved.

[2019-10-15 08:36] claudiahahn commented on #59
What can we do about this?

It would be possible to display a change layer instead of the actual climate index for the future periods and different scenarios. One could then display the baseline and next to it display the change layer (% change) In that case we would need to add additional resources of course

[2019-10-23 09:10] DenoBeno opened #64 "Map component not calling the correct legend for EMIKAT local heat resource(s)"
When asking for any of the three EMIKAT temperature layers on this step https://csis.myclimateservice.eu/study/30/step/1613/view/maps ...

This is what the map component asks for:

`https://service.emikat.at/geoserver/clarity/wms?service=WMS&request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=clarity:view.2974`
together with this map call
`https://service.emikat.at/geoserver/clari

[2019-10-23 09:21] DenoBeno commented on #64
I found it (praised be the GetCapabiliites)

`https://service.emikat.at/geoserver/clarity/wms?service=WMS&request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=clarity:view.2974&style=clarity:T_A`

so, it must be one of the following:

- style=clarity:T_A
- style=clarity:T_UTCI
- style=clarity:T_MRT

At the moment only the T_A is different, but all three need to be rescaled.

[2019-10-23 10:36] DenoBeno opened #65 "Please allow choosing more than one map layer"
Related to https://github.com/clarity-h2020/map-component/issues/59, issue no. 5

- [ ] **5. allow user to overlay several layers and decide how to colour-code each**
Claudia has proposed this as a way to rapidly get an idea of where the main issues in the project area are. See https://github.com/clarity-h2020/csis/issues/105#issuecomment-537927714

The easiest way to achieve this (at least the "s

[2019-10-23 11:00] claudiahahn commented on #65
I agree. I could imagne that is what a user is interested in. To see potentially hot and potentially cool places at once

That is true. The layers were defined based on urban atlas data only and the layers don't overlap. Selecting an additional layer would just lead to another area being displayed with a different color.

[2019-10-23 13:13] p-a-s-c-a-l commented on #65
This makes only sense for vector-based layers with transparent areas like, the Urban Atlas layers. These have to be treated differently than raster/grid-based layers (e.g. hazard) where an direct overlap does not work. A calculation a 'differential' layer on client-side doesn't seem to be possible either.

So maybe we should pick up our initial idea to treat Urban Atlas Layers as additional [Backg

[2019-10-23 14:16] therter commented on #64
The style parameter for the legend request is now used by the map-component. But the local effect layers (Local effect UTCI temperature, Local effect apparent temperature and
Local effect mean radiant temperature) have no data at the moment.

[2019-10-25 08:19] DenoBeno commented on #65
considering the "usable layers" from https://github.com/clarity-h2020/data-package/issues/5

**#** | **Layer name** | **Sources**
-- | -- | --
1 | Water | Urban Atlas
2 | Roads | Urban Atlas
3 | Railways | Urban Atlas
4 | Trees | Urban Atlas + Street Tree   layers
5 | Vegetation | Urban Atlas + European   Settlement Map
6 | Agricultural areas | Urban Atlas
7 | Buildings | European Settlement Map
8

[2019-10-25 10:43] therter opened #66 "The loading animation of the map-component does not disappear"
Sometimes, the initialisation of the map-component does not work and the loading animation will be shown forever.

![Bildschirmfoto vom 2019-10-25 12-32-24](https://user-images.githubusercontent.com/1788509/67564792-14b80b80-f724-11e9-8a97-909f4ae563f2.png)

This problem is not easy to reproduce. But I can reproduced it relatively frequently in the data package view (e.g. https://csis.myclimateser

[2019-10-25 12:11] p-a-s-c-a-l commented on #66
I wasn't able to reproduce this problem at all...

Anyway, That's not a problem of the map component. If the loading animation does not go away, then `Drupal.behaviors.mapComponentIFrameConnector` (see [generic-map.html](https://github.com/clarity-h2020/map-component/blob/dev/examples/generic-map.html)) is not called. This function replaces the initial static content of the iFrame (the loading ani

[2019-10-28 08:45] #61 closed

[2019-10-29 08:25] p-a-s-c-a-l opened #67 "Warning: Each child in a list should have a unique "key" prop"
[code]

[code]

[2019-10-29 13:27] p-a-s-c-a-l commented on #65
List of multi-selectable background layers is implemented:

![grafik](https://user-images.githubusercontent.com/1788226/67770822-6d0a4880-fa57-11e9-8046-3b9e1947828b.png)

ATM, we use layers tagged with taxonomy term [resource-type:local-effects-parameter](https://csis.myclimateservice.eu/taxonomy/term/1096) to populate the list of background layers. In the future we may introduce a separate resou

[2019-10-29 21:15] DenoBeno commented on #65
Nice. Can we also have a legend for these layers? :-)

On Tue, 29 Oct 2019 at 14:27, Pascal Dihé <notifications@github.com> wrote:

[2019-10-30 05:45] p-a-s-c-a-l commented on #65
@negroscuro Is it possible to add a legend to the HC-LE input layers?

[2019-11-04 13:04] p-a-s-c-a-l commented on #64
Any news regarding this issue?

[2019-11-04 15:22] DenoBeno commented on #64
this is working now

[2019-11-04 15:22] #64 closed

[2019-11-06 09:14] p-a-s-c-a-l commented on #65
done

[2019-11-06 09:14] #65 closed

[2019-11-06 09:14] #66 closed

[2019-11-11 07:08] p-a-s-c-a-l commented on #45
done

[2019-11-11 07:08] #45 closed

[2019-11-18 19:50] DenoBeno commented on #65
There is one strange effect in the map now. E.g. on https://csis.myclimateservice.eu/study/35/step/1524/view/maps, the background layers are listed once as background (multiple choice possible) and once as default (single choice)

[2019-11-19 08:04] p-a-s-c-a-l commented on #65
Yes. Background layers are currently all HC-LE layers as explained [here](https://github.com/clarity-h2020/map-component/issues/65#issuecomment-547418540). Therefore they are duplicated in the HC-LE step. We could  introduce an additional separate resource type, e.g. `background-layer` and then hide those layers in the single choice list.

[2019-11-19 08:05] p-a-s-c-a-l opened #68 "Support for Background Layers"
See https://github.com/clarity-h2020/map-component/issues/65#issuecomment-555180741

[2019-11-20 16:47] p-a-s-c-a-l opened #69 "Support for Template Resources"
Support for Resources with [variables](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/dp_variables/overview).  See also https://github.com/clarity-h2020/csis-helpers-js/issues/8

[2019-11-21 10:36] p-a-s-c-a-l opened #70 "Warning: componentWillReceiveProps has been renamed"
Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedStateFromProps. Learn more at: https://fb.me/react

[2019-11-25 15:28] p-a-s-c-a-l commented on #69
Currently, template resource expansion in Map Component is activated for the [$LAYER variable](https://csis.myclimateservice.eu/taxonomy/term/5236) of [Background Layers](https://github.com/clarity-h2020/data-package/issues/7) only (*[taxonomy_term--dp_resourcetype](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/dp_resourcetype/overview)* == *[background-layer](https://csis.mycli

[2019-11-26 10:01] mattia-leone opened #71 "CSIS study - coastal cities area selection"
Selecting a box with a portion in the sea creates this issue

<img width="1275" alt="Schermata 2019-11-26 alle 10 52 13" src="https://user-images.githubusercontent.com/56071027/69619293-abd1f500-103b-11ea-8cc3-c812f280aa4d.png">

The portion of sea should be included in the city borders to perform the study

[2019-11-27 08:40] p-a-s-c-a-l commented on #69
Example: The *Template Resource* [Urban Atlas 2012](https://csis.myclimateservice.eu/node/2040) contains two *layer* variables:

![grafik](https://user-images.githubusercontent.com/1788226/69707342-da160a00-10f9-11ea-8107-a1dc02365e9d.png)

And is expended in Map Component:

![grafik](https://user-images.githubusercontent.com/1788226/69705648-4262ec80-10f6-11ea-98bc-6af7cde321f9.png)

[2019-11-27 09:21] p-a-s-c-a-l commented on #69
Basic support for template resources implemented. Discussion continues [here](https://github.com/clarity-h2020/data-package/issues/47#issuecomment-558998963).

[2019-11-27 09:21] #69 closed

[2019-11-27 10:55] therter commented on #71
That is right, but I can change this.

[2019-11-28 08:02] #68 closed

[2019-11-28 08:25] p-a-s-c-a-l opened #72 "Support for multiple References"
If a resource contains multiple `@mapview:ogc:wms` *references*, only the first one is evaluated. This has to be changed.

A major drawback of [Template Resource Expansion for Background Layers](https://github.com/clarity-h2020/map-component/issues/69#issuecomment-558987260) is, that the content of the `{$layer}` URI variable of the `getMap` request is used as layer title in the layer control user

[2019-11-28 19:06] DenoBeno commented on #71
So this is one?

[2019-11-28 19:13] therter commented on #71
Yes, this is done

[2019-11-28 19:13] #71 closed

[2019-12-06 19:28] #70 closed

[2019-12-09 18:56] therter opened #73 "The study area of all studies with emikat calculations should intersect the city taxonomy"
All study types, which have a calculation method that contains the string "emikat" in the **calculation method id** field should use a study area that intersects a polygon from the cities taxonomy (see also https://github.com/clarity-h2020/csis-helpers-module/issues/12#issuecomment-562505399).
The old behaviour is described [here](https://github.com/clarity-h2020/map-component/issues/55)

[2019-12-09 19:06] #73 closed

[2019-12-19 07:31] p-a-s-c-a-l commented on #72
We now use the optional `title` property of the reference if it exist.

[2019-12-19 07:31] #72 closed

[2020-01-21 14:01] p-a-s-c-a-l commented on #31
on-hold. See https://github.com/clarity-h2020/csis/issues/131#issuecomment-575598057

[2020-01-21 14:13] p-a-s-c-a-l opened #74 "Support for multipe Scenarios"
ATM there is a 1:1 mapping between Template Resources and the actual layer generated by substituting [template variables](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/dp_variables/overview). There is one set of variables for each scenario.

Although, we [allow user to define more than one scenario](https://github.com/clarity-h2020/csis/issues/108), selecting more than one scena

[2020-01-22 10:56] p-a-s-c-a-l opened #75 "Study Area Map Start Position"
Please set the start position of the study context map if no study are is choose to Europe instead of Stockholm.

[2020-01-23 10:25] therter commented on #75
Now, whole Europe will be shown, if no study area exists and no city is selected.

[2020-01-23 10:25] #75 closed

[2020-01-23 15:40] p-a-s-c-a-l opened #76 "deselection of all layers in exclusive layer groups"
Support deselection of all layers in exclusive layer groups in [react-leaflet-grouped-layer-control](https://github.com/clarity-h2020/react-leaflet-grouped-layer-control). See https://github.com/clarity-h2020/csis/issues/104#issuecomment-577084292

[2020-01-23 15:48] p-a-s-c-a-l commented on #76
done

[2020-01-23 15:48] #76 closed

[2020-01-24 12:24] patrickkaleta opened #77 "Legends can't be loaded due to missing parameter 'version'"
I just noticed, that the legends for some/most background layers in the HC maps (e.g. [here](https://csis.myclimateservice.eu/study/33/step/1519/view/maps)) are not shown. Looking at the individual request for the legends (e.g. [this](http://land.discomap.eea.europa.eu/arcgis/services/Land/CLC2012_LAEA/MapServer/WmsServer?service=WMS&request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&l

[2020-01-24 18:18] #77 closed

[2020-01-27 07:26] p-a-s-c-a-l opened #78 "Unnecessary error message "There is no city selected""
E.g. in this [study](https://csis.myclimateservice.eu/study/55/view/area):

![grafik](https://user-images.githubusercontent.com/1788226/73156566-7f3f6580-40de-11ea-81af-35361bdf3317.png)

Some study types like "Expert Studies" or "Basic Screening" don't require a city to be selected. Therefore this error message is misleading. It should only be shown for studies of type Automated Screening.

[2020-01-27 09:25] p-a-s-c-a-l opened #79 "Resource Desciptions in LayerControl"
ATM you can find the complete description of the resources shown on the map in the "Data Tab". This is not so convenient. We should show at least a summary of the resource description as tooltip in the layer box. This require also some changes to [react-leaflet-grouped-layer-control](https://github.com/clarity-h2020/react-leaflet-grouped-layer-control).

[2020-01-27 09:56] therter commented on #78
At the moment, the "There is no city selected" message will be shown, if no city is selected and the study type of the study contains a calculation method that contains the word emikat within its "Calculation method ID" field.
The word emikat within its "Calculation method ID" field causes also the start of the emikat calculations.

The calculation method of [this study](https://csis.myclimateserv

[2020-01-28 09:53] #78 closed

[2020-01-28 10:27] DenoBeno opened #80 "No "EMIKAT" layers shown on the maps"
Today, no EMIKAT-produced layers show up on the map. I tried with old study and with a completely new one: tables are OK, maps are empty. No local hazard (temperatures), no population, no mortality.

[2020-01-28 11:54] p-a-s-c-a-l commented on #80
[EMIKAT WMS](https://service.emikat.at/geoserver/clarity/) is not responding. We'll set-up [service monitoring](https://github.com/clarity-h2020/csis-technical-validation/issues/2) for this kind of issues.

[2020-01-29 11:03] humerh commented on #80
The URL-Template is like this:
url template https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2974&bbox=4672000.0,1979500.0,4687500.0,1988000.0&width=768&height=421&srs=EPSG:3035&format=image/gif&CQL_FILTER=STUDY_VARIANT='${study_variant}' and TIME_PERIOD='${time_period}' AND EMISSIONS_SCENARIO='${emissions_scenario}' AND EVENT_FREQUENCY='

[2020-01-29 11:52] humerh commented on #80
Zusätzlicher Grund für das Fehlen eines Ergebnisses:
Die Stadt heisst bei "Martality rates":
![image](https://user-images.githubusercontent.com/20284964/73354444-05ea7300-4296-11ea-9db1-26f0de5abcfc.png)

In der Definition der Study aber LIEPAJA.
Damit werden keine Impacts gerechnet.

[2020-01-29 13:26] p-a-s-c-a-l commented on #80
Works [again](https://csis.myclimateservice.eu/study/33/step/1513/view/maps).

[2020-01-30 10:01] patrickkaleta commented on #74
See [this comment](https://github.com/clarity-h2020/docker-drupal/issues/134#issuecomment-580169954) for the current status of Study scenarios.

I believe this could easily be accomplished by the csis-helpers module. I'll look into it.

[2020-02-03 08:10] DenoBeno commented on #74
I just noticed that multiple scenarios are enabled now.
- There is a warning on save that doesn't seem to affect the system negatively.
- Presets work as designed in "local efects" - for table and for the map.

Didn't test on other places.

[2020-02-03 08:11] DenoBeno opened #81 ""Digital elevation model" layer should not be always preselected."
Not  a big deal, but I always have to de-select it on a map.

[2020-02-03 08:15] DenoBeno opened #82 "Wrong population distribution layer shown in the map"
https://csis.myclimateservice.eu/study/18/step/1904/view/maps only offers the "european population distribution", not the distribution calculated by EMIKAT.

Ideally, it should be possible to show both IMO.

[2020-02-03 08:24] DenoBeno commented on #82
Table shows the correct distribution.

[2020-02-03 09:15] p-a-s-c-a-l commented on #82
Somebody changes the respective [resource](https://csis.myclimateservice.eu/node/754/) and introduced a [wrong service path (reference)](https://csis.myclimateservice.eu/node/759):

![grafik](https://user-images.githubusercontent.com/1788226/73639982-bd540080-466d-11ea-8209-c87225ba32c2.png)

So probably somebody duplicated the resource and changed the service which had unwanted side effects as ex

[2020-02-03 09:18] DenoBeno opened #83 "Map should not reset after changing a "preset""
This is annoying if one is trying to show how presets change the situation.

[2020-02-03 09:23] DenoBeno commented on #81
It also lacks a legend.

[2020-02-03 09:41] p-a-s-c-a-l commented on #81
It's coming from the [EEA's WMS](https://discomap.eea.europa.eu/Index/), so unfortunately we no influence on that.

[2020-02-03 09:43] p-a-s-c-a-l commented on #83
That's a limitation of the iFrame integration. Similar problem as [here](https://github.com/clarity-h2020/map-component/issues/58#issuecomment-535636803). So ATM, there is no easy or quick fix for that.

[2020-02-03 10:57] p-a-s-c-a-l commented on #82
@humerh can you please post the correct population exposure EMIKAT URI?

[2020-02-04 10:37] humerh commented on #82
Auf der Seite https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)  findet ihr die End-Points

[2020-02-05 15:39] p-a-s-c-a-l commented on #82
fixed.

![grafik](https://user-images.githubusercontent.com/1788226/73856648-1078af80-4836-11ea-998c-e22eb7ec520f.png)

[2020-02-05 15:39] #82 closed

[2020-02-05 15:58] p-a-s-c-a-l commented on #81
done

[2020-02-05 15:58] #81 closed

[2020-02-05 16:10] p-a-s-c-a-l commented on #74
No, it's not working. See [this Example](https://csis.myclimateservice.eu/study/18/step/1905/view/maps):

Time Period: 2071 to 2100
Emissions Scenario: Business as usual
Event Frequency: 20 years
Study Variant: no Adaptation Options

Map iFrame Link generated:

[...study_variant=BASELINE&time_period=**20710101-21001231**&emissions_scenario=**rcp85**&event_frequency=**Rare**&grouping_tag=taxonomy_t

[2020-02-06 09:01] patrickkaleta commented on #74
Time perio: 2071 - 2110 <--> 20710101-21001231
Emissions Scenario: Business as usual <--> rcp85
Event Frequency: 20 years <--> rare
Study Variant: no Adaptation Options <--> BASELINE

To me this URL fits to the selected scenario. Am I missing something?

...

The active scenario is stored in the field `study_presets`. I changed the behaviour of the csis-helpers module, so that the active scenario

[2020-02-06 09:12] patrickkaleta commented on #74
Are you talking about this [warning message](https://github.com/clarity-h2020/csis/issues/136)? Yes. it wasn't affecting the system but still annoying, so I fixed it.

[2020-02-06 10:23] p-a-s-c-a-l commented on #74
Yes, you are right. I assumed that 'Business as usual' is RCP4.5 and 20 years is occasional.
 `study_presets` should stay as it is for now.

In my opinion, it would be better to use the same terminology in the UI and API. So either **rcp85** or **rcp85 (Business as usual)** but not just **Business as usual**. Same for Event Frequency. Who knows that 20 years == rare? BTW, "Rare" will occurs in oth

[2020-02-06 18:15] DenoBeno commented on #80
Same problem again today. Asked Heinrich to see if it's on the EMIKAT side...

We badly need a monitoring service to detect this type of issues.

[2020-02-07 06:06] p-a-s-c-a-l commented on #80
Apparently a server server issue. Works again:

![grafik](https://user-images.githubusercontent.com/1788226/74005147-40c86700-4978-11ea-8a20-c18194f58dd8.png)

[Monitoring](https://github.com/clarity-h2020/csis-technical-validation/issues/2) is on the todo list.

[2020-02-07 10:30] DenoBeno commented on #83
OK, c'est life. It's annoying but it's not a showbreaker. Forget it.

[2020-02-07 10:30] #83 closed

[2020-02-07 10:35] DenoBeno commented on #80
Yes, @humerh  told me that the server has experienced memory overload.

Apparently something tried to get a full europe view of some data from it at some point. Don't know the details, @humerh could you please elaborate what happened?

This issue has a simple workaround (restart server), but we can't call Heinrich every time it happens. I suppose we need a separate issue for this bug, not sure if

[2020-02-10 07:37] p-a-s-c-a-l commented on #80
urgent @humerh @negroscuro

Mattia needs to perform a series of example studies in various Italian cities for the state level agency,  so that he can to show that we can do studies in several Italian cities (regardless of the quality of numeric output).

Now, it seems that no [HC-LE](https://csis.myclimateservice.eu/study/90/step/2999/view/maps) or [impact](https://csis.myclimateservice.eu/study/9

[2020-02-10 08:31] DenoBeno commented on #80
If it's urgent, @negroscuro needs to know about it to generate these first. The calculation is changing now and I doubt that we can have both the "old" and the "new" variant working at the same time.

[2020-02-10 08:41] DenoBeno opened #84 "Please change the way "default" layers are shown on the map"
While testing for https://github.com/clarity-h2020/data-package/issues/59, I realised that following things need to be changed for the "default" layers presentation:

- [ ] **Remove the "built up areas"**. This information is now spread over 3+2 "building" layers, the build up areas layer doesn't/will not exist anymore.
- [ ] **Add the "sport facilities" layer**. It's missing from the map now. (as

[2020-02-10 09:20] negroscuro commented on #80
Which cities are the ones needed for this Plinivs event?

[2020-02-10 09:28] negroscuro commented on #84
Sports layer is currently added.
I also removed built up as you asked.

[2020-02-10 09:56] p-a-s-c-a-l commented on #84
O.K. This is a modification of the respective resources the European Data Package. I can look into this.

Considering how resources and references are modelled in CSIS Drupal, this is currently not possible without changing the data model. We could add a boolean field 'selected' to the resource entity type, however, since a resource can contain [multiple references](https://github.com/clarity-h202

[2020-02-10 10:07] p-a-s-c-a-l commented on #84
O.K. Now I understand what you mean by 'default' layers. Ypu are talking about the are the Hazard LE Input Layers in the HC-LE step. The layer group name 'default' is misleading but as before, it is just a fallback name. What we can do without changing data models, etc. is use the name of the GL step as group title in this case 'Hazard Characterization - Local Effects'.

ATM it's not easily possib

[2020-02-14 10:12] DenoBeno opened #85 "map doesn't zoom in on the study area."
This is where I have noticed it today:

- https://csis.myclimateservice.eu/study/14/view/area

[2020-02-14 11:24] therter commented on #85
The map zooms on the selected city, because this is the relevant area, when you want to select a new study area.

[2020-02-14 11:24] #85 closed

[2020-02-20 15:34] p-a-s-c-a-l commented on #67
@therter if you have some spare time maybe you can have a look at this, should be easy to fix.
Better address this now before the warning becomes an error.

[2020-02-20 15:40] p-a-s-c-a-l commented on #79
Since resource description are now [in HTML text](https://github.com/clarity-h2020/csis/issues/143) and are [becoming rather exhaustive](https://github.com/clarity-h2020/csis/issues/140), this is no longer an option. Sure, we could add another field `short_summary` to the resource entity type or try to extract a summary from the description, e.g. stripping a html tags, etc. but not now.

[2020-02-20 15:40] #79 closed

[2020-02-20 15:45] p-a-s-c-a-l commented on #74
I renamed the taxonomies so that UI and code models are aligned. Basic support for different scenarios is available. It could be improved by showing 2 scenarios at once, but that's a [different issue](https://github.com/clarity-h2020/map-component/issues/59).

[2020-02-20 15:45] #74 closed

[2020-02-21 09:32] p-a-s-c-a-l commented on #84
See https://github.com/clarity-h2020/data-package/issues/21#issuecomment-589573088

[2020-02-26 20:55] claudiahahn commented on #84
Sorry for any confusion. My request was mainly to be able to unselect layers. I agree that it would be nice to be able to select more than 1 background layer for display. This might also become important for the basic screening method.

[2020-02-27 07:37] p-a-s-c-a-l commented on #84
This is currently possible. **[Background Layers](https://csis.myclimateservice.eu/taxonomy/term/5238)** have check boxes (0-n selectable) **any another layers** have de-selectable option boxes (0-1 selectable). The reason is simple: *Most* background layers are based on vector data and are partially transparent, so it makes sense to show several of them in one map (buildings + roads + vegetation,

[2020-02-27 07:45] p-a-s-c-a-l commented on #80
Clearly and [EMIKAT Issue](https://github.com/clarity-h2020/emikat/issues/33)

[2020-02-27 07:45] #80 closed

[2020-02-27 19:52] DenoBeno commented on #84
"clarity background" sounds good to me. The reason why I asked for a
possibility to choose multiple was because these layers never overlap.

On Thu, 27 Feb 2020, 16:21 claudiahahn, <notifications@github.com> wrote:

[2020-02-28 15:23] p-a-s-c-a-l commented on #84
I've introduced a new tag *[clarity-background-layer](https://csis.myclimateservice.eu/taxonomy/term/5702)* and tagged the HC-LE input layers accordingly.

![grafik](https://user-images.githubusercontent.com/1788226/75560523-99ee5c80-5a45-11ea-918e-e24a39e80314.png)

[Map Component](https://csis.myclimateservice.eu/apps/map-component/build/DataPackagePreviewMap/?host=https://csis.myclimateservice.

[2020-03-03 14:13] negroscuro commented on #84
I just updated CKAN with new sports data:
https://ckan.myclimateservice.eu/dataset/sports

Then I modified built_up obsolete entry in CSIS under European wide data package (https://csis.myclimateservice.eu/node/682), sports layer is:
https://csis.myclimateservice.eu/node/3637

[2020-03-04 08:35] ghilbrae commented on #84
@negroscuro can you please update the two resources in CKAN with proper URLs or files to the actual data? This way they lead to nowhere. Thanks!!

[2020-03-06 06:29] p-a-s-c-a-l commented on #43
Error: Cross origin http://localhost forbidden
          at dispatchError (C:\git_work\CLARITY\map-component\node_modules\jest-environment-jsdom\node_modules\jsdom\lib\jsdom\living\xhr-utils.js:65:19)
          at Object.validCORSHeaders (C:\git_work\CLARITY\map-component\node_modules\jest-environment-jsdom\node_modules\jsdom\lib\jsdom\living\xhr-utils.js:77:5)
          at receiveResponse (C:\git

[2020-03-06 06:35] p-a-s-c-a-l commented on #43
Plus the same problem as here: https://github.com/clarity-h2020/simple-table-component/issues/4

It's always 'nice' to see your tests failing not because of changes in code or tests specs but in the test environment itself. 😲

[2020-03-06 06:37] p-a-s-c-a-l commented on #43
Fix: https://github.com/techieanant

[2020-03-06 07:17] p-a-s-c-a-l commented on #43
`log.debug()` in `beforeAll` is not printed  to console when running the tests in VSCode.

[2020-03-06 07:26] p-a-s-c-a-l commented on #43
❓  ❓  ❓

 TypeError: Cannot read property 'close' of undefined

      169 | afterAll(() => {
      170 |     log.debug('afterAll');

          |            ^
      172 |             //console.log('JSON Server closed');
      173 |             //process.exit(0);
      174 |     });

[2020-03-06 07:29] p-a-s-c-a-l commented on #43
FUBAR:

Tests:       8 failed, 3 skipped, 4 passed, 15 total
Snapshots:   0 total
Time:        17.741s
Ran all test suites related to changed files.

[2020-03-06 07:53] p-a-s-c-a-l commented on #43
don't expect that this will work on an ip6 capable system if server adress is `::1`

hard-code `http://localhost:${server.address().port}` instead. 👎

[2020-03-06 08:07] p-a-s-c-a-l commented on #43
Works locally but not on CI:

FAIL src/__tests__/CSISRemoteHelpers.test.js (12.224s)
  ● Console

    console.warn src/__tests__/CSISRemoteHelpers.test.js:76
      no headers ENV VAR (.env.test.local) found, skipping remote API tests
    console.warn src/__tests__/CSISRemoteHelpers.test.js:113
      no headers.js fixture found, skipping remote API tests
    console.log node_modules/csis-helpers-js

[2020-03-06 08:18] p-a-s-c-a-l commented on #43
BTW, remote tests shouldn't be executed on CI, because `.env.test.local` is no present.!
It seems that `it.only`doesn't work any more as expected.

[2020-03-06 09:07] ci-cismet-de opened #86 "map-component #12 failed"
Build 'map-component' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [pascal.dihe] 463443107ba475e04b5308f92391d9201e9bdb8f - #43 add publisher step

- [pascal.dihe] 1fc7ca49ad07647e3245536866a228791e9e0fcb - #43 force fail test

- [pascal.dihe] e867a02e6e233c94a299233a2eb35dd580be511d - #43 tests fubar

- [pascal.dihe] 9d33207230d72776d584b54e085089128

[2020-03-06 09:09] ci-cismet-de commented on #86
Build 'map-component' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [pascal.dihe] 463443107ba475e04b5308f92391d9201e9bdb8f - #43 add publisher step

- [pascal.dihe] 1fc7ca49ad07647e3245536866a228791e9e0fcb - #43 force fail test

- [pascal.dihe] e867a02e6e233c94a299233a2eb35dd580be511d - #43 tests fubar

- [pascal.dihe] 9d33207230d72776d584b54e085089128

[2020-03-06 09:25] ci-cismet-de commented on #86
Build was fixed!

[2020-03-06 09:25] #86 closed

[2020-03-06 10:59] p-a-s-c-a-l commented on #67
@therter any progress to report?

[2020-03-06 10:59] #43 closed

[2020-03-06 11:02] therter commented on #67
I cannot reproduce this warnings in any browser. Perhaps this was accidentally fixed by any update.

[2020-03-10 12:57] p-a-s-c-a-l opened #87 "Improve Edit-Mode of Study Area Map"
For the user, it's not obvious, that edit mode is activated as reported [here](https://github.com/clarity-h2020/csis/issues/104#issuecomment-597057220). Here at least the title of the "Toggle Edit" Button should change when in edit mode. Furthermore, the EMIKAT calculation is trigged, once the BBOX has been drawn. Instead, it should be trigged only when edit mode is deactivated again.

When in edi

[2020-03-11 09:51] p-a-s-c-a-l commented on #84
done

[2020-03-11 09:51] #84 closed

[2020-03-11 15:31] therter opened #88 "Remove the import of babel-polyfill"
to avoid the following error message, when creating a screenshot of the study area map.

[2020-03-11 15:38] #88 closed

[2020-03-12 16:48] patrickkaleta commented on #87
See [this update](https://github.com/clarity-h2020/emikat/issues/34#issuecomment-598285203) for the new Emikat calculation trigger mechanics.

[2020-03-13 06:47] p-a-s-c-a-l commented on #67
![grafik](https://user-images.githubusercontent.com/1788226/76596608-e1bdbb00-64fe-11ea-8ffc-9fae6119cf81.png)

[2020-03-13 06:49] p-a-s-c-a-l commented on #67
Open [this map](https://csis.myclimateservice.eu/apps/map-component/build/GenericMap/?url=https://csis.myclimateservice.eu&resource_uuid=c14febe8-0251-4808-8970-dcfdb1255cf9) and select one of the 'Consecutive Wet Days' layers.

[2020-03-13 09:56] negroscuro commented on #84
@ghilbrae sorry I missplaced URL, now it is corrected.

[2020-03-13 10:08] ghilbrae commented on #84
@negroscuro  Thanks!!

[2020-03-13 13:32] p-a-s-c-a-l commented on #59
I've implemented support for synchronised maps and enabled it for the [HC-LE Step](https://csis.myclimateservice.eu/study/35/step/1524/view/maps) (currently just for testing purposes):

![synchronised-map-component](https://user-images.githubusercontent.com/1788226/76625337-4ac12500-6537-11ea-8d21-0c917b2d1d5c.gif)

[2020-03-13 18:53] therter commented on #87
The buttons Cancel Edit and Save Changes will be shown now, when the edit mode was started.

[2020-03-16 11:14] DenoBeno commented on #59
I bumped into this today, while testing if the EMIKAT calculations work. It's really nice and seems to work well. What would be even nicer is if I could compare the same indice for two different scenarios.

[2020-03-16 14:14] ci-cismet-de opened #90 "map-component #19 failed"
Build 'map-component' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [pascal.dihe] 609a544bb2c28b0ad7c6b5412869440dd2e688fb - #59 bugfix in synchronised RiskAndImpactMap

[View full output](https://ci.cismet.de/job/map-component/19/)

[2020-03-16 14:22] ci-cismet-de commented on #90
Build was fixed!

[2020-03-16 14:22] #90 closed

[2020-03-24 11:42] therter opened #91 "The maps are sometimes not displayed side by side"
When I click on the Maps button, the maps will be shown side by side, but then when I click on the Maps button again, the maps will be shown one below the other.

![anim](https://user-images.githubusercontent.com/1788509/77421265-cb9bde80-6dcb-11ea-8dee-e481efd9e7fb.gif)

(used Chrome Version 79.0.3945.117 (Offizieller Build) (64-Bit))

[2020-03-24 12:16] ci-cismet-de opened #92 "map-component #21 failed"
Build 'map-component' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [pascal.dihe] e8feef83d1856851bff40733485725b94137a2f3 - #91 explicitly set 100 vh and vw of root container instead of 100%

[View full output](https://ci.cismet.de/job/map-component/21/)

[2020-03-24 12:19] p-a-s-c-a-l commented on #91
@therter I've updated the css, please try again.

[2020-03-24 12:27] ci-cismet-de commented on #92
Build was fixed!

[2020-03-24 12:27] #92 closed

[2020-03-24 12:55] p-a-s-c-a-l opened #93 "Yarn Caching"
Enable yarn caching during CI builds. This does not work:

[code]

warning Selected the next writable cache folder in the list, will be "/tmp/.yarn-cache-2000".

However, it's not clear if `/.cache/yarn` is really an absolute path or relative. But relative to what? `/root/.cache/yarn` or `/home/node/.cache/yarn`  doesn't work either, relative path like `~/.cache/yarn` are not supported by docker m

[2020-03-24 13:01] p-a-s-c-a-l commented on #93
Stopping wasting my time with this.

[2020-03-24 13:01] #93 closed

[2020-03-24 13:28] therter commented on #91
@p-a-s-c-a-l  Thanks, now I cannot reproduce the error.

[2020-03-24 13:28] #91 closed

[2020-04-01 09:52] therter commented on #87
The trigger was updated and the study area map was updated, so this issue can be closed

[2020-04-01 09:52] #87 closed

[2020-04-01 15:25] DenoBeno commented on #59
The http://services.clarity-h2020.eu:8080/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity%3Acity&bbox=1969465.0%2C996016.875%2C7168551.0%2C4677889.0&width=768&height=543&srs=EPSG%3A3035&styles=hw_availability&format=text%2Fhtml%3B%20subtype%3Dopenlayers#toggle reminded me of the wish to see the value of the data field when clicking on a map somewhere.

![image](https:

[2020-04-01 16:16] p-a-s-c-a-l commented on #59
@therter This information could be obtained by a *getFeatureInfo* request, if the server supports it, right?
But what, if more than one layer is selected as it is usually the case in the map component?

[2020-04-01 17:13] therter commented on #59
Yes, this is right. But this is an optional operation, so not every wms supports this.

[2020-04-21 08:44] p-a-s-c-a-l opened #94 "Legend Labels missing"
[getlegendgraphic shows no label when only one rule is defined](http://osgeo-org.1560.x6.nabble.com/getlegendgraphic-shows-no-label-when-only-one-rule-is-defined-td4909766.html)
-> append `legend_options=forceLabels:on` to all *GetLegendGraphic* [requests](http://services.clarity-h2020.eu:8080/geoserver/clarity/ows?service=WMS&request=GetLegendGraphic&version=1.1.0&format=image%2Fpng&layer=clarity

[2020-04-21 10:31] negroscuro commented on #94
I understand this is fixed, but honestly I do not understand why the force label option is needed, I would expect to have it orking without it but it seems necessary...

http://services.clarity-h2020.eu:8080/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.1.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=clarity:agricultural_areas&legend_options=forceLabels:on

[2020-04-21 10:46] therter commented on #94
this is fixed now

[2020-04-21 10:46] #94 closed

[2020-04-23 09:50] therter opened #95 "Do not allow large legends, which cover the whole map"
The legends should have a max width to avoid that they can cover the whole map like on the following image

![Bildschirmfoto vom 2020-04-23 10-30-23](https://user-images.githubusercontent.com/1788509/80077760-37e63b00-854e-11ea-9596-1fac791d7478.png)

Additional, the legend should be shown behind the control element of the map.

[2020-04-27 07:02] p-a-s-c-a-l commented on #31
Not needed any more see https://github.com/clarity-h2020/csis/issues/154

[2020-04-27 07:02] #31 closed

[2020-04-27 07:07] p-a-s-c-a-l commented on #59
- 1b. avoid resetting after changing a preset: wontfix: iFrame has to be reloaded
-  2. Show the active layer title and/or add it to the screenshot description: layer title now shown in the legend
- see the value of the data field when clicking on a map somewhere: there are a lot of different values in each layer and when several layers are active, it's not clear what shall be shown to whom for wh

[2020-04-27 07:07] #59 closed

[2020-04-27 07:08] #67 closed

[2020-04-27 07:16] therter commented on #95
This was fixed

[2020-04-27 07:16] #95 closed

[2020-05-12 11:16] p-a-s-c-a-l opened #96 "Flexible "re-purposing" of resources"
We have to implement a strategy for flexible "re-rurposing" of  [resources](https://csis.myclimateservice.eu/admin/content?title=&type=data_package_metadata&status=All&langcode=All). The reason and details are explained in https://github.com/clarity-h2020/data-package/issues/65#issuecomment-623302035.

In principle we have to arbitrarily groups/categorise resources/layers irrespective of their con

[2020-05-15 13:28] p-a-s-c-a-l commented on #96
Unbelievable:

![grafik](https://user-images.githubusercontent.com/1788226/82055043-3b3d9400-96c0-11ea-9006-2138c29f968d.png)

JSON property name (machine_name) of Field `id` of a taxonomy contains the taxonomy name. E.g. `field_resource_type_id`,  `field_hazard_id`, etc. :hurtrealbad:

[2020-05-18 13:52] p-a-s-c-a-l commented on #96
Example on how to configure an [Extended iFrame](https://csis.myclimateservice.eu/node/4272/):

[code]

[2020-05-18 14:33] p-a-s-c-a-l commented on #96
Consider adding support for multiple overlayLayers groups.

[2020-05-18 14:51] p-a-s-c-a-l commented on #96
done

[2020-05-18 14:51] #96 closed

[2020-06-03 13:57] claudiahahn opened #98 "extracting data from climate index maps"
@ghilbrae, @LauraMTG, @luis-meteogrid
Is there a way to extract data from the maps for the study area selected?
I have the impression that was done initially as we tried to display the hazard table. Or am I mistaken? It would be great to somehow be able to get the value of the indices for the historical and future time periods, either displayed when moving over the map or extracted and made availa

[2020-06-25 12:40] p-a-s-c-a-l commented on #98
As an example, for the [PI_rr20mm_historical_19710101-20001231_ensmean](https://geoserver.myclimateservice.eu/geoserver/europe/wms?service=WMS&version=1.1.0&request=GetMap&layers=europe%3API_rr20mm_historical_19710101-20001231_ensmean&bbox=2145642.726143716%2C982955.8095900388%2C6605432.868301096%2C5706496.981659953&width=725&height=768&srs=EPSG%3A3035&format=application/openlayers) layer we can m

[2020-06-25 14:22] claudiahahn commented on #98
That would already be very helpful! as long as only the number is displayed and not the whole response from the server that you have copied in earlier. :)

[2020-07-01 09:53] p-a-s-c-a-l commented on #98
@claudiahahn @RobAndGo

Good News: I've implemented a pop-up to query information from layers and show the values.

Bad News: It's not possible to reliably determine the last selected layer if multiple layers are selected:

![map](https://user-images.githubusercontent.com/1788226/86230244-1ed2b980-bb91-11ea-9b9b-925002a85442.gif)

This is due to issues with [React Virtual DOM](https://reactjs.org/

[2020-07-01 09:53] #98 closed

[2020-07-01 09:56] ci-cismet-de opened #99 "map-component #32 failed"
Build 'map-component' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [pascal.dihe] e80111d59675f396525558f61f9541722a9e6ccb - #98 implement getFeatureInfo

- [pascal.dihe] 9d53403c972fad33928277f8ab60fcc4ca4b7246 - #89 fix legend component warning

- [pascal.dihe] 27b5799c7c7fb67970c764d0520b46de88e509e9 - #89 prepare text/xml feature request

- [pascal

[2020-07-01 12:37] ci-cismet-de commented on #99
Build was fixed!

[2020-07-01 12:37] #99 closed

[2020-07-01 14:04] p-a-s-c-a-l opened #100 "Decouple the study_variant from the Study Scenarios"
Ideally, we can decouple the study_variant from the Study Scenarios, so that it could be possible to show in the Map component the differences of the Study scenario with and without Adaptation options side by side (we already have the split screen with two maps, so we should use it). @therter let's maybe discuss this in a short telco to see how feasible that would be for us in the remaining time.

[2020-07-01 14:18] p-a-s-c-a-l commented on #100
What is feasible is to compare in the split-maps *either* between scenarios with / without adaptation *or* between scenarios (different combinations of rcp, time_period, event frequency) in general. I think we drop general scenario comparison in favour of baseline vs. adapted comparison since it makes more sense.

The important question here is: Do we support different adaptation scenarios or just

[2020-07-01 14:55] RobAndGo commented on #98
This is a great feature! Thanks @p-a-s-c-a-l!!

Perhaps one solution would be to add a warning text at the base of the map page stating something like "Note: In order to avoid any ambiguity, mouseover values are valid only when **one layer** is selected."

It would be a bonus if you could cut the values down to one decimal value, either by rounding, or simply by removing everything after the first

[2020-07-01 18:18] claudiahahn commented on #98
yes, that is great! Thank you @p-a-s-c-a-l !
And it even displays the layer name, so the user at least knows what he is looking at.
@RobAndGo ideas regarding a short text below the maps and cutting the values to one decimal value are good

[2020-07-02 11:53] p-a-s-c-a-l commented on #17
seems to be broken. Perhaps you can have a look.

[2020-07-06 07:46] patrickkaleta commented on #100
**I would stick to just one and currently the CSIS is configured to allow only one.** I've set it up so that in the future it can be adapted to allow more than just one, but that will require changes in the Drupal Views itself, in the csis_helpers module and in the REST interfaces used by Emikat. We the limited hours I got left, it just doesn't seem very realistic.

[2020-07-07 06:43] p-a-s-c-a-l opened #101 "Make new Map Component Release"
Although Map Component is integrated with [our CI System](https://ci.cismet.de/view/CLARITY/job/map-component/), deployment on CSIS is not yet automated. The following manual steps are required:

[code]

Note: Commonly on DEV the `dev` branch and on master the `master`  branch is used.

[2020-07-07 06:55] #101 closed

[2020-07-17 10:33] p-a-s-c-a-l commented on #17
any progress to be reported here?

[2020-07-22 13:18] p-a-s-c-a-l commented on #100
@patrickkaleta

How can I test the new `has_adapted_scenario: ` flag? It seems that it is not yet available on PROD and on DEV I cannot recalculate studies to include Adaptation Options.

[2020-07-22 13:52] p-a-s-c-a-l commented on #100
I've tried to recalculate [study 35](https://csis.myclimateservice.eu/study/35/view/intro) to get an adaptation scenario, but the process is stuck at "14 out of 17 processes". @DenoBeno @humerh ?

[2020-07-23 07:39] p-a-s-c-a-l commented on #100
I've recalculated [study 35](https://csis.myclimateservice.eu/study/35/view/intro) and but still there are no [adaptation results](https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2975/table/data?rownum=100000) available.

I've created an [adaptation strategy](https://csis.myclimateservice.eu/study/35/step/1526/view/table) but it doesn't seem to get applied. Anything else I need

[2020-07-24 07:59] patrickkaleta commented on #100
I can update the csis_helpers module on PROD (by pulling the latest version from the git repository). I haven't done so yet, since I wanted to await testing on DEV first. But you're right, it's hard to test this when you're not allowed to trigger Emikat calculations on DEV.

@p-a-s-c-a-l  are you performing any updates on the Docker containers currently? Because I had troubles accessing DEV and PR

[2020-07-24 08:01] patrickkaleta commented on #100
I can see some results for the Adaptation Strategy. Looking at the HC-LE table, I can see results for [baseline](https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2974/table/data?rownum=1000&filter=STUDY_VARIANT%3D%27BASELINE%27&filter=TIME_PERIOD%3D%2720410101-20701231%27&filter=EMISSIONS_SCENARIO%3D%27rcp45%27&filter=EVENT_FREQUENCY%3D%27Rare%27&column=GRID_ID&column=STUDY_VARI

[2020-07-24 08:12] p-a-s-c-a-l commented on #100
Thanks @patrickkaleta. Yes, I performed a backup of the database and had to shut it down.

Yes, there are now adaptation results available and I can show them on the [map](https://csis.myclimateservice.eu/study/35/step/1528/view/maps):

![image](https://user-images.githubusercontent.com/1788226/88372313-edb36680-cd95-11ea-9eeb-7e5ea1a642a0.png)

[2020-07-24 08:12] #100 closed

[2020-07-27 07:36] p-a-s-c-a-l opened #102 "Documentation"
Upgrade and installation documentation.

[2020-07-31 09:57] p-a-s-c-a-l commented on #102
![image](https://user-images.githubusercontent.com/1788226/89024195-fe7b5380-d324-11ea-8368-4cb48c0834c7.png)

[2020-07-31 13:16] p-a-s-c-a-l commented on #102
![image](https://user-images.githubusercontent.com/1788226/89038500-c08c2880-d340-11ea-8562-b0f260c97afa.png)

[2020-07-31 13:30] p-a-s-c-a-l commented on #102
![image](https://user-images.githubusercontent.com/1788226/89039654-bd923780-d342-11ea-8516-1ba9d9acc80c.png)

[2020-07-31 13:41] p-a-s-c-a-l commented on #102
![sync-map](https://user-images.githubusercontent.com/1788226/89040494-2af29800-d344-11ea-93fc-32aff87342ba.gif)

[2020-07-31 14:00] p-a-s-c-a-l commented on #102
![image](https://user-images.githubusercontent.com/1788226/89042304-fd5b1e00-d346-11ea-8fcd-78082e5e1845.png)

[2020-07-31 14:53] p-a-s-c-a-l commented on #102
@therter Can you please update [readme.md](https://github.com/clarity-h2020/map-component#study-area-map-1) and describe how the **study area map** is deployed on CSIS?

[2020-08-06 07:58] p-a-s-c-a-l commented on #102
done

[2020-08-06 07:58] #102 closed

[2020-08-19 09:14] ci-cismet-de opened #103 "map-component #48 failed"
Build 'map-component' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Thorsten Herter] 612048e78eaf48ecd4a2b8b92e45a5f8b2517603 - #17 add the loading animation when the layer control component is

- [Thorsten Herter] 2f2661371df97ac1140862ba095d66fb38ef8cc7 - #17 add the loading animation when the layer control component is

[View full output](https://c

[2020-08-19 09:22] ci-cismet-de commented on #103
Build was fixed!

[2020-08-19 09:22] #103 closed, assigned to nobody

[2020-08-20 08:52] therter commented on #17
This is working again and can be tested in the dev instance.

[2020-08-20 08:52] #17 closed